<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Contract</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" showSummary="false" life="2000"/>
		<div class="row">	
			<div class="col-md-12" style="border: none !important;">
				<p:panel header="CONTRACT DETAILS" style="border: none !important;">
					<p:fieldset id="plCadastro" style="border: none !important;">
						<div class="row">
							<div class="col-md-6">
								<campo:autocomplete label="Employee" value="#{contractService.employee}" converter="#{employeeConverterById}"
													completeMethod="#{contractService.completeEmployee}" actionClean="#{contractService.setEmployee(null)}"
													updateClean=":form" required="true" disabled="#{!contractService.permissaoSalvar}">
									<p:ajax event="change" process="@this"/>
									<p:ajax event="itemSelect" process="@this"/>
								</campo:autocomplete>
							</div>
							
							<div class="col-md-3">
								<campo:calendario value="#{contractService.contract.startDate}" pattern="dd/MM/yyyy" label="Start Date"
												  disabled="#{!contractService.permissaoSalvar}" required="true" />
							</div>
							
							<div class="col-md-3">
								<campo:calendario value="#{contractService.contract.endDate}" pattern="dd/MM/yyyy" label="End Date"
												  disabled="#{!contractService.permissaoSalvar}"/>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<campo:autocomplete label="Allowance" value="#{contractService.allowance}" converter="#{allowanceConverterById}"
													completeMethod="#{contractService.completeAllowance}" actionClean="#{contractService.setAllowance(null)}"
													updateClean=":form" required="true" disabled="#{!contractService.permissaoSalvar}">
									<p:ajax event="change" process="@this" />
									<p:ajax event="itemSelect" process="@this" />
								</campo:autocomplete>
							</div>
						</div>
						
						<div class="row" align="center" style="margin-top: 10px;  margin-left: 2px">
							<div class="col-md-12">
								<p:commandButton value="Back" action="cancelar" style="width:100px" immediate="true" icon="imagemvoltar"/>

								<p:spacer width="10"/>
								
								<p:commandButton id="buttonSalvar" value="Save" action="salvar" immediate="false" 
										 disabled="#{!contractService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_CONTRACT_INCLUIR')}"
										 style="width:100px" process="@form" update="@form" icon="imagemsalvar"/>										 	
							</div>
						</div>		
					</p:fieldset>	
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>