<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Contract</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true"/>
			
		<div class="row" >
			<div class="col-md-12">
				<p:panel header="CONTRACT" style="border: none !important;">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-1">															 
										<campo:valor decimalPlaces="0" thousandSeparator="" value="#{criteria.code}" label="Code">
											<p:ajax event="blur" process="@this" update=":form:paneltbl" />
										</campo:valor>
									</div>
							
								<div class="col-md-4">															 
									<campo:autocomplete label="Employee" value="#{criteria.employee}" converter="#{employeeConverterById}"
														completeMethod="#{criteria.completeEmployee}" actionClean="#{criteria.setEmployee(null)}"
														updateClean=":form">
										<p:ajax event="change" process="@this" update=":form:paneltbl"/>
										<p:ajax event="itemSelect" process="@this" update=":form:paneltbl"/>
									</campo:autocomplete>
								</div>
								
								<div class="col-md-4">															 
									<campo:autocomplete label="Allowance" value="#{criteria.allowance}" converter="#{allowanceConverterById}"
														completeMethod="#{criteria.completeAllowance}" actionClean="#{criteria.setAllowance(null)}"
														updateClean=":form">
										<p:ajax event="change" process="@this" update=":form:paneltbl"/>
										<p:ajax event="itemSelect" process="@this" update=":form:paneltbl"/>
									</campo:autocomplete>
								</div>
								
								<div class="col-md-3" style="padding-top: 20px">
									<p:toolbarGroup align="left">
									 	<p:commandButton  icon="imagemfiltrar" title="Search" value="Search" style="width:100px">
											<p:ajax event="click" process="@this" update=":form:tbl"/>
										</p:commandButton>
										
										<p:commandButton  icon="imagemlimpar" title="Clean" value="Clean" action="limpar" style="width:100px">
											<p:ajax event="click" process="@this" update=":form:tbl"/>
										</p:commandButton>
									 </p:toolbarGroup>
								</div>
							</div>
							
							
						</div>
						
						
						<div class="row" style="margin-top: 15px;">
							<div class="col-md-12" style="padding-top: 15px;" >
								<h:panelGroup id="paneltbl">	
										<p:dataTable id="tbl" 
													 value="#{criteria}" 
													 var="item" 
													 paginator="true" 
													 rows="5" 
													 scrollable="true"
           									         scrollHeight="#{criteria.getPageSize() > 5 ? 200 : criteria.getPageSize() == 0 ? 40 : criteria.getPageSize() * 40}"
           									         rowsPerPageTemplate="5,10,15,20,30,50"
													 lazy="true"
													 paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
													 emptyMessage="There are no records" 
													 paginatorPosition="bottom" 
													 selectionMode="single"
													 styleClass="tabelaMobile"
													 rowKey="#{item.idContract}"
													 sortBy="#{item.idContract}"
													 sortOrder="DESCENDING"
													 resizableColumns="true"
													 currentPageReportTemplate="Page {currentPage} of {totalPages} || {startRecord} - {endRecord} of {totalRecords}">		 
							            	
							            	<p:ajax event="rowSelect" process="@this, tbl" update="tbl"
												listener="#{criteria.someListenerSelecionarContract}" />
												
										<p:column headerText="Code" style="text-align: left; width: 10%" sortBy="#{item.idContract}">
								             <h:outputText value="#{item.idContract}" style="white-space:nowrap !important;"/>		            	
								        </p:column>			
												
							            <p:column headerText="Name" style="text-align: left; width: 40%">
								             <h:outputText value="#{item.employee.getFullName()}" style="white-space:nowrap !important;"/>		            	
								        </p:column>	
								        
								         <p:column headerText="Allowance" style="text-align: left; width: 40%">
								             <h:outputText value="#{item.allowance.description}" style="white-space:nowrap !important;"/>		            	
								        </p:column>	
								        
								        <p:column headerText="Start Date" style="text-align: left; width: 40%">
								             <h:outputText value="#{item.startDate}" style="white-space:nowrap !important;">
								             	<f:convertDateTime pattern="dd/MM/yyyy" />
								             </h:outputText>	            	
								        </p:column>	
								        
								        <p:column style="width: 150px" >
											<p:growl id="message" showDetail="true" sticky="true" />
							 			    
							 			    	<p:commandButton id="buttonConsultar" action="consultar" update="@form" immediate="true" 
															icon="imagemfiltrar" title="Consult" disabled="#{!request.isUserInRole('ROLE_CAD_CONTRACT_CONSULTAR')}">
													<f:setPropertyActionListener value="#{item}" target="#{criteria.selected}" />
												</p:commandButton>
							 			    
							 			    
							 			    <p:commandButton action="editar" 
											 			    disabled="#{!request.isUserInRole('ROLE_CAD_CONTRACT_ALTERAR')}"
											 			    id="iconEditar" 
											 			    update="@form" 
											 			    icon="imagemeditar" 
											 			    title="Edit">
							 			    	<f:setPropertyActionListener target="#{criteria.selected}" value="#{item}"/>
							 			    </p:commandButton>
							 			    				 
<!-- 										    <p:commandButton action="inativar" disabled="#{!request.isUserInRole('ROLE_CAD_CONTRACT_REMOVER')}" -->
<!-- 										    update="message" icon="imagemexcluircampo" title="Inactivate"> -->
<!-- 										        <p:confirm header="Confirmação" message="Tem certeza que deseja inativar este usuário?" icon="ui-icon-alert" /> -->
<!-- 										        <f:setPropertyActionListener target="#{criteria.selected}" value="#{item}"/> -->
<!-- 										    </p:commandButton> -->
										 
<!-- 										    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode"> -->
<!-- 										        <p:spacer width="100" height="10" /> -->
<!-- 										        <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" /> -->
<!-- 										        <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" /> -->
<!-- 										    </p:confirmDialog> -->
										    
										</p:column>	
								       	
									</p:dataTable>
								</h:panelGroup>
								
								<p:spacer height="10"/>
								
								<div class="row" align="center">
									<p:commandButton id="buttonNovo" action="novo" value="New" style="width:100px" icon="imagemadicionar" 
													process="@this" update="@form" disabled="#{!request.isUserInRole('ROLE_CAD_CONTRACT_INCLUIR')}"/>
													
									<p:spacer height="10"/>				

									<p:commandButton id="buttonVoltar" action="voltarhome" value="Home" style="width:100px" icon="iconehome" />
									
									<p:spacer height="25"/>	
								</div>
								
							</div>
						</div>
					</div>
				</p:panel>
			</div>
		</div>
			
	</h:form>
</div>
</ui:define>
</ui:composition>