<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Booking Holiday</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true"/>
			
		<div class="row" >
			<div class="col-md-12">
				<p:panel header="BOOKING HOLIDAY" style="border: none !important;" rendered="#{!bookingHolidayService.isInit()}">
					<div class="row" style="display: grid; justify-content: center; margin-top: 30px">
						<h:graphicImage library="images" name="link.png" rendered="#{!bookingHolidayService.isInit()}"/>
						<h:outputLabel value="#{bookingHolidayService.text}" rendered="#{!bookingHolidayService.isInit()}" style="margin-top: 20px"/>
					</div>
				</p:panel>
				
				<p:panel header="BOOKING HOLIDAY" style="border: none !important;" rendered="#{bookingHolidayService.isInit()}">
					<div class="row">
						<div class="col-md-12">
							<h:outputLabel value="#{bookingHolidayService.text}" rendered="#{bookingHolidayService.isInit()}" style="margin-top: 20px; margin-left:15px"/>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-6">
								<campo:autocomplete label="Holiday Category" value="#{bookingHolidayService.employeeHoliday.holidayCategory}" converter="#{holidayCategoryConverterById}"
													completeMethod="#{bookingHolidayService.completeHolidayCategory}" actionClean="#{bookingHolidayService.setHCDisabledControl()}"
													updateClean=":form" required="true" disabled="false">
									<p:ajax event="change" process="@this" update=":form" listener="#{bookingHolidayService.disabledControl(true)}"/>
									<p:ajax event="itemSelect" process="@this" update=":form" listener="#{bookingHolidayService.disabledControl(true)}"/>
								</campo:autocomplete>
							</div>

							<div class="col-md-6">
								<div class="row" style="display: inline-flex;">
									<div class="col-md-5">
										<p:outputLabel for="calStDt" value="Start Date"/>
										<p:calendar  id="calStDt" value="#{bookingHolidayService.employeeHoliday.startDate}" required="true" 
													 disabled="#{bookingHolidayService.disabledStartDate}" pattern="dd/MM/yyyy" mindate="#{bookingHolidayService.getNewDate()}">
											
											<p:ajax event="dateSelect" process="@this" update=":form" listener="#{bookingHolidayService.validatePeriod()}"
													onstart="PF('myBlockUI').show()" oncomplete="PF('myBlockUI').hide()"/>			 
										</p:calendar>
									</div>
									
									<div class="col-md-5">
										<p:outputLabel for="campoTest" value="End Date"/>
										<p:calendar  id="campoTest" value="#{bookingHolidayService.employeeHoliday.endDate}" required="true" 
													 disabled="#{bookingHolidayService.disabledEndDate}" pattern="dd/MM/yyyy">
											
											<p:ajax event="dateSelect" process="@this" update=":form" listener="#{bookingHolidayService.validatePeriod()}"
													onstart="PF('myBlockUI').show()" oncomplete="PF('myBlockUI').hide()"/>			 
										</p:calendar>
										
										<p:blockUI block="dataTable" widgetVar="myBlockUI">
									        <p:graphicImage library="images" name="loading_transparent.gif"/>
									    </p:blockUI>
									</div>
									
									<div class="col-md-2" style="padding-top: 3px !important">
										<campo:simples disabled="true" value="#{bookingHolidayService.employeeHoliday.dayCounted}" label="Days"
													   rendered="#{bookingHolidayService.disabledDaysHours}"/>
													   
										<campo:simples disabled="true" value="#{bookingHolidayService.employeeHoliday.hourCounted}" label="Hours"
													   rendered="#{!bookingHolidayService.disabledDaysHours}"/>
									</div>	
								</div>
							</div>						
						</div>
					</div>
					
					<div class="row" style="margin-top: 3px">
						<div class="col-md-12">
							<p:dataTable id="dataTable" var="item" value="#{bookingHolidayService.listHolidayDay}" scrollable="true" scrollHeight="120"> 
							    <p:column headerText="Status" style="width:60px; text-align:center">
							    	<h:graphicImage library="images" name="ellipsis.png" title="Many Departments (See details)"
							    					rendered="#{bookingHolidayService.getImageStatus(item.status, 5)}"/>
			    					
			    					<h:graphicImage library="images" name="circle_green.png" title="No slot booked"
							    					rendered="#{bookingHolidayService.getImageStatus(item.status, 0)}"/>
							    	
							    	<h:graphicImage library="images" name="circle_orange.png" title="Some booked slots"
							    					rendered="#{bookingHolidayService.getImageStatus(item.status, 1)}"/>
									
									<h:graphicImage library="images" name="circle_red.png" title="Slots fully booked"
							    					rendered="#{bookingHolidayService.getImageStatus(item.status, 2)}"/>
							    					
			    					<h:graphicImage library="images" name="circle_grey.png" title="Not counted"
							    					rendered="#{bookingHolidayService.getImageStatus(item.status, 3)}"/>	
							    					
			    					<h:graphicImage library="images" name="circle_grey.png" title="Day Off"
							    					rendered="#{bookingHolidayService.getImageStatus(item.status, 4)}"/>	
							    														    					
			    					<h:graphicImage library="images" name="circle_grey.png" title="Bank Holiday"
							    					rendered="#{bookingHolidayService.getImageStatus(item.status, 6)}"/>	
							    														    					
							    </p:column>
							    
							    <p:column headerText="Date">
							        <h:outputText value="#{item.day}">
					             		<f:convertDateTime pattern="dd/MM/yyyy" />
							        </h:outputText>
							    </p:column>
							 
							    <p:column headerText="#{bookingHolidayService.disabledDaysHours == true ? 'Day' : 'Hours' }">
							        <h:outputText value="#{bookingHolidayService.StringDayHour(item)}" />
							    </p:column>
							 
							    <p:column headerText="Description">
							        <h:outputText value="#{bookingHolidayService.StringDescription(item)}"/>  
							    </p:column>
							    
							    <p:column headerText="Day Off" style="text-align: center; width: 90px">
							    	<p:inputSwitch rendered="#{bookingHolidayService.renderedSetDayOff(item.status)}" disabled="#{bookingHolidayService.disabledSetDayOff}" value="#{item.count}" offLabel="Yes" onLabel="No">
							    		<p:ajax event="change" process="@this" update=":form" listener="#{bookingHolidayService.setDayOff(item)}"/>
							    	</p:inputSwitch>
							    </p:column>
							</p:dataTable>
						</div>
					</div>	
					
					<div class="row">
						<div class="col-md-12">
							<campo:textAreaIntegra value="#{bookingHolidayService.employeeHoliday.reason}" label="Reason" 
												   desativado="#{!bookingHolidayService.permissaoSalvar}" required="true"/>
						</div>
					</div>	
					
					<div class="row" align="center" style="margin-top: 10px;  margin-left: 2px">
						<div class="col-md-12">
							<p:commandButton id="buttonSalvar" value="Save" action="salvar" immediate="false" 
											 disabled="#{!bookingHolidayService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_BOOKING_HOLIDAY_INCLUIR')}"
											 style="width:100px" process="@form" update="@form" icon="imagemsalvar"/>
						</div>
					</div>			
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>