<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Employee</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" showSummary="false" life="2000"/>
		<div class="row">	
			<div class="col-md-12" style="border: none !important;">
				<p:panel header="EMPLOYEE DETAILS" style="border: none !important;">
					<p:fieldset id="plCadastro" style="border: none !important;">
						<div class="row">
							<div class="col-md-6">
								<campo:simples label="Name" value="#{employeeService.employee.name}" required="true" 
											   disabled="#{!employeeService.permissaoSalvar}" />
							</div>	
							
							<div class="col-md-6">
								<campo:simples label="Surname" value="#{employeeService.employee.surname}" required="true" 
											   disabled="#{!employeeService.permissaoSalvar}" />
							</div>	
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-6" style="display: grid; padding-top: 10px">
										<p:outputLabel for="gender" value="Gender" />
										<p:selectOneButton id="gender" label="Gender" value="#{employeeService.employee.gender}" 
														   desativado="#{!employeeService.permissaoSalvar}" required="true">
								            <f:selectItem itemLabel="Male" itemValue="M"/>
								            <f:selectItem itemLabel="Female" itemValue="F"/>
								        </p:selectOneButton>
									</div>
									
									<div class="col-md-6">
										<campo:calendario value="#{employeeService.employee.dateBirth}" pattern="dd/MM/yyyy" label="Date of Birth"
														  disabled="#{!employeeService.permissaoSalvar}" required="true" />
									</div>
								</div>
							</div>
							
							<div class="col-md-3">
								<campo:simples label="National Insurance" value="#{employeeService.employee.nationalInsurance}" required="true" 
											   disabled="#{!employeeService.permissaoSalvar}" />
							</div>
							
							<div class="col-md-3">
								<campo:simples label="EE Number" value="#{employeeService.employee.eeNumber}" disabled="#{!employeeService.permissaoSalvar}" />
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<campo:simples label="Email" value="#{employeeService.employee.email}" required="true" 
										  	   disabled="#{!employeeService.permissaoSalvar}"/>
							</div>
							
							<div class="col-md-6">
								<campo:autocomplete label="Role" value="#{employeeService.role}" converter="#{roleConverterById}"
													completeMethod="#{criteria.completeRole}" actionClean="#{employeeService.setRole(null)}"
													updateClean=":form" required="true" disabled="#{!employeeService.permissaoSalvar}">
									<p:ajax event="change" process="@this" />
									<p:ajax event="itemSelect" process="@this" />	
								</campo:autocomplete>
							</div>
						</div>
						
						<div class="row">
							<p:separator/>
						</div>
						
						<div class="row">
							<div class="col-md-2">
								<campo:simples label="Postcode" value="#{employeeService.address.postcode}" required="true" 
											   disabled="#{!employeeService.permissaoSalvar}" />
							</div>
							
							<div class="col-md-2">
								<campo:simples label="Number" value="#{employeeService.address.number}" required="true" 
											   disabled="#{!employeeService.permissaoSalvar}" />
							</div>
						
							<div class="col-md-4">
								<campo:simples label="Description" value="#{employeeService.address.description}" required="true" 
											   disabled="#{!employeeService.permissaoSalvar}" />
							</div>
							
							<div class="col-md-4">
								<campo:simples label="Complement" value="#{employeeService.address.complement}"
											   disabled="#{!employeeService.permissaoSalvar}" />
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
							    <campo:autocomplete label="City" value="#{employeeService.city}" converter="#{cityConverterById}" updateClean=":form"
													completeMethod="#{employeeService.completeCity}" actionClean="#{employeeService.setCity(null)}"
													required="true" disabled="#{!employeeService.permissaoSalvar}">
									<p:ajax event="change" process="@this" update="form:idCountry" immediate="true" />
									<p:ajax event="itemSelect" process="@this" update="form:idCountry" immediate="true"/>	
								</campo:autocomplete>
							</div>
							
							<div class="col-md-6">
								<p:outputLabel value="Country" for="idCountry" style="width:100%; display:true"/>
								<p:inputText id="idCountry" value="#{employeeService.city.country.name}" disabled="true"/>
							</div>
						</div>
						
						<div class="row">
							<p:separator/>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-10">
										<campo:autocomplete label="Department" value="#{employeeService.department}" converter="#{departmentConverterById}"
															completeMethod="#{criteria.completeDepartment}" actionClean="#{employeeService.setDepartment(null)}"
															updateClean=":form" disabled="#{!employeeService.permissaoSalvar}">
											<p:ajax event="change" process="@this" />
											<p:ajax event="itemSelect" process="@this" />	
										</campo:autocomplete>
									</div>
								
									<div class="col-md-2" style="padding-top: 21px">
										<p:commandButton value="Add" actionListener="#{employeeService.addDepartment()}" update="form" style="width:70px;" immediate="true" icon="imagemadicionar"
														 disabled="#{!employeeService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_EMPLOYEE_INCLUIR')}"/>
									</div>
								</div>
								
								<div class="row" style="padding-top: 10px">
									<div class="col-md-12">
										<p:dataTable var="department" value="#{employeeService.departmentList}">
										    <p:column headerText="Department">
										        <h:outputText value="#{department.description}"/>
										    </p:column>
										    
										    <p:column style="width: 50px" >
												<p:growl id="message" showDetail="true" sticky="true" />
								 			    
											    <p:commandButton action="removeDepartment"
											    				 disabled="#{!employeeService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_EMPLOYEE_INCLUIR')}"
											   					 update="form" icon="imagemexcluir" title="Remove" immediate="true"> 
											        <p:confirm header="Confirm" message="Are you sure you want to delete?" icon="imagemalerta" />
											        <f:setPropertyActionListener target="#{employeeService.department}" value="#{department}"/>
											    </p:commandButton>
											    
											    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
											        <p:spacer width="100" height="10" />
											        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="imagempositive" />
											        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="imagemnegative" />
											    </p:confirmDialog>
											</p:column>	
										</p:dataTable>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row" align="center" style="margin-top: 10px;  margin-left: 2px">
							<div class="col-md-12">
								<p:commandButton value="Back" action="cancelar" style="width:100px" immediate="true" icon="imagemvoltar"/>

								<p:spacer width="10"/>
								
								<p:commandButton id="buttonSalvar" value="Save" action="salvar" immediate="false" 
										 disabled="#{!employeeService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_EMPLOYEE_INCLUIR')}"
										 style="width:100px" process="@form" update="@form" icon="imagemsalvar"/>										 	
							</div>
						</div>		
					</p:fieldset>	
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>