<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Holiday Permission</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" showSummary="false" life="2000"/>
		<div class="row">	
			<div class="col-md-12" style="border: none !important;">
				<p:panel header="HOLIDAY PERMISSION" style="border: none !important;">
					<p:fieldset id="plCadastro" style="border: none !important;">
						<div class="row">
							<div class="col-md-12">
								<campo:calendario value="#{holidayPermissionService.employeeHoliday.requisitionDate}" pattern="dd/MM/yyyy" 
											  	  label="Requisition Date" desativado="true"/>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">
								<campo:autocomplete label="Holiday Category" value="#{holidayPermissionService.holidayCategory}" converter="#{holidayCategoryConverterById}"
													completeMethod="#{holidayPermissionService.completeHolidayCategory}" actionClean="#{holidayPermissionService.setHCDisabledControl(null)}"
													updateClean=":form" required="true" disabled="#{holidayPermissionService.disabledHC}">
									<p:ajax event="change" process="@this" update=":form" listener="#{holidayPermissionService.disabledControl(true)}"/>
									<p:ajax event="itemSelect" process="@this" update=":form" listener="#{holidayPermissionService.disabledControl(true)}"/>
								</campo:autocomplete>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-8" style="padding-top:3px !important">
										<campo:simples disabled="true" value="#{holidayPermissionService.employee}" label="Employee"/>
									</div>
									
									<div class="col-md-4" style="padding-top: 3px !important">
										<campo:simples disabled="true" value="#{holidayPermissionService.employeeHoliday.getBalanceString()}" label="Balance"/>
									</div>	
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<p:outputLabel for="calStDt" value="Start Date"/>
										<p:calendar  id="calStDt" value="#{holidayPermissionService.employeeHoliday.startDate}" required="true" 
													 disabled="#{holidayPermissionService.disabledStartDate}" pattern="dd/MM/yyyy">
											
											<p:ajax event="dateSelect" process="@this" update=":form" listener="#{holidayPermissionService.validatePeriod(holidayPermissionService.employeeHoliday)}"
													onstart="PF('myBlockUI').show()" oncomplete="PF('myBlockUI').hide()"/>			 
										</p:calendar>
									</div>
									
									<div class="col-md-5">
										<p:outputLabel for="campoTest" value="End Date"/>
										<p:calendar  id="campoTest" value="#{holidayPermissionService.employeeHoliday.endDate}" required="true" 
													 disabled="#{holidayPermissionService.disabledEndDate}" pattern="dd/MM/yyyy">
											
											<p:ajax event="dateSelect" process="@this" update=":form" listener="#{holidayPermissionService.validatePeriod(holidayPermissionService.employeeHoliday)}"
													onstart="PF('myBlockUI').show()" oncomplete="PF('myBlockUI').hide()"/>			 
										</p:calendar>
										
										<p:blockUI block="dataTable" widgetVar="myBlockUI">
									        <p:graphicImage library="images" name="loading_transparent.gif"/>
									    </p:blockUI>
									</div>
									
									<div class="col-md-2" style="padding-top: 3px !important">
										<campo:simples disabled="true" value="#{holidayPermissionService.employeeHoliday.dayCounted}" label="Days"
													   rendered="#{holidayPermissionService.disabledDaysHours}"/>
													   
										<campo:simples disabled="true" value="#{holidayPermissionService.employeeHoliday.hourCounted}" label="Hours"
													   rendered="#{!holidayPermissionService.disabledDaysHours}"/>
									</div>	
								</div>
							</div>
						</div>
						
						<div class="row" style="margin-top: 3px">
							<div class="col-md-12">
								<p:dataTable id="dataTable" var="item" value="#{holidayPermissionService.listHolidayDay}" scrollable="true" scrollHeight="120"> 
								    <p:column headerText="Status" style="width:60px; text-align:center">
								    	<h:graphicImage library="images" name="ellipsis.png" title="Many Departments (See details)"
								    					rendered="#{holidayPermissionService.getImageStatus(item.status, 5)}"/>
				    					
				    					<h:graphicImage library="images" name="circle_green.png" title="No slot booked"
								    					rendered="#{holidayPermissionService.getImageStatus(item.status, 0)}"/>
								    	
								    	<h:graphicImage library="images" name="circle_orange.png" title="Some booked slots"
								    					rendered="#{holidayPermissionService.getImageStatus(item.status, 1)}"/>
										
										<h:graphicImage library="images" name="circle_red.png" title="Slots fully booked"
								    					rendered="#{holidayPermissionService.getImageStatus(item.status, 2)}"/>
								    					
				    					<h:graphicImage library="images" name="circle_grey.png" title="Not counted"
								    					rendered="#{holidayPermissionService.getImageStatus(item.status, 3)}"/>	
								    					
				    					<h:graphicImage library="images" name="circle_grey.png" title="Day Off"
								    					rendered="#{holidayPermissionService.getImageStatus(item.status, 4)}"/>	
								    														    					
				    					<h:graphicImage library="images" name="circle_grey.png" title="Bank Holiday"
								    					rendered="#{holidayPermissionService.getImageStatus(item.status, 6)}"/>	
								    														    					
								    </p:column>
								    
								    <p:column headerText="Date">
								        <h:outputText value="#{item.day}">
						             		<f:convertDateTime pattern="dd/MM/yyyy" />
								        </h:outputText>
								    </p:column>
								 
								    <p:column headerText="#{holidayPermissionService.disabledDaysHours == true ? 'Day' : 'Hours' }">
								        <h:outputText value="#{holidayPermissionService.StringDayHour(item)}" />
								    </p:column>
								 
								    <p:column headerText="Description">
								        <h:outputText value="#{holidayPermissionService.StringDescription(item)}"/>  
								    </p:column>
								    
								    <p:column headerText="Day Off" style="text-align: center; width: 90px">
								    	<p:inputSwitch rendered="#{holidayPermissionService.renderedSetDayOff(item.status)}" disabled="#{holidayPermissionService.disabledSetDayOff}" value="#{item.count}" offLabel="Yes" onLabel="No">
								    		<p:ajax event="change" process="@this" update=":form" listener="#{holidayPermissionService.setDayOff(item)}"/>
								    	</p:inputSwitch>
								    </p:column>
								</p:dataTable>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">
								<campo:textAreaIntegra value="#{holidayPermissionService.employeeHoliday.reason}" label="Reason" 
													   desativado="#{!holidayPermissionService.permissaoSalvar}" required="true"/>
							</div>
						</div>
						
						<div class="row">
							<p:separator/>
						</div>
						
						<div class="row" style="border-radius: 5px !important; border-style: outset !important; padding-top: 15px !important; padding-bottom: 15px !important">
							<div class="col-md-2" style="display: grid; padding-top: 8px">
								<p:outputLabel for="manager" value="Manager Permission"/>
								<p:selectOneButton id="manager" value="#{holidayPermissionService.employeeHoliday.managerPermit}">
						            <f:selectItem itemLabel="Yes" itemValue="true"/>
						            <f:selectItem itemLabel="Not" itemValue="false"/>
						            
						            <p:ajax event="change" process="@this" update=":form" listener="#{holidayPermissionService.setManagarTime()}"/>
						        </p:selectOneButton>
							</div>
											
							<div class="col-md-6" style="padding-top: 3px">
								<campo:simples disabled="true" value="#{holidayPermissionService.employeeHoliday.managerPermission.getFullName()}" label="Manager"/>
							</div>
							
							<div class="col-md-2" style="padding-bottom: 5px">
								<campo:calendario value="#{holidayPermissionService.employeeHoliday.managerPermissionDate}" pattern="dd/MM/yyyy" 
												  label="Date of Permission" desativado="true"/>
							</div>
						</div>
						
						<div class="row" align="center" style="margin-top: 10px;  margin-left: 2px">
							<div class="col-md-12">
								<p:commandButton value="Back" action="cancelar" style="width:100px" immediate="true" icon="imagemvoltar"/>

								<p:spacer width="10"/>
								
								<p:commandButton id="buttonSalvar" value="Save" action="salvar" immediate="false" 
												 disabled="#{!holidayPermissionService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_EMPLOYEE_HOLIDAY_INCLUIR')}"
												 style="width:100px" process="@form" update="@form" icon="imagemsalvar"/>										 	
							</div>
						</div>		
					</p:fieldset>	
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>