<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Department</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" showSummary="false" life="2000"/>
		<div class="row">	
			<div class="col-md-12" style="border: none !important;">
				<p:panel header="DEPARTMENT DETAILS" style="border: none !important;">
					<p:fieldset id="plCadastro" style="border: none !important;">
						<div class="row">
							<div class="col-md-8">
								<campo:simples label="Description" value="#{departmentService.department.description}" required="true"
								disabled="#{!departmentService.permissaoSalvar}" />
							</div>
							
							<div class="col-md-2">
								<h:outputLabel for="basic" value="Maximum Days" 
									   		   style="font-size:70% !important; color:#2D4C4C !important; font-family:Helvetica; margin: 0px !important; padding: 0px !important;"/>
   								<p:spinner id="basic" value="#{departmentService.department.maximumDays}" required="true"
   										   readonly="#{!departmentService.permissaoSalvar}"/>
							</div>
							
							<div class="col-md-2">
								<h:outputLabel for="basic2" value="Maximum Employees" 
									   		   style="font-size:70% !important; color:#2D4C4C !important; font-family:Helvetica; margin: 0px !important; padding: 0px !important;"/>
   								<p:spinner id="basic2" value="#{departmentService.department.maximumEmployees}" required="true"
   										   readonly="#{!departmentService.permissaoSalvar}"/>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<campo:autocomplete label="Manager" value="#{departmentService.manager}" converter="#{employeeConverterById}"
													completeMethod="#{departmentService.completeEmployee}" actionClean="#{departmentService.setManager(null)}"
													updateClean=":form">
									<p:ajax event="change" process="@this" />
									<p:ajax event="itemSelect" process="@this" />	
								</campo:autocomplete>
							</div>
							
							<div class="col-md-2" style="padding-top: 21px">
								<p:commandButton value="Add" actionListener="#{departmentService.addManager()}" update="form" style="width:70px;" immediate="true" icon="imagemadicionar"
												 disabled="#{!departmentService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_ROLE_INCLUIR')}"/>
							</div>
						</div>
						
						<div class="row" style="padding-top: 21px">
							<div class="col-md-6">
								<p:dataTable styleClass="header-dataTable " var="manager" value="#{departmentService.managerList}">
								    <p:column headerText="Manager">
								        <h:outputText value="#{manager.getFullName()}"/>
								    </p:column>
								    
								    <p:column style="width: 50px" >
										<p:growl id="message" showDetail="true" sticky="true" />
						 			    
									    <p:commandButton action="removeManager" disabled="#{!departmentService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_ROLE_INCLUIR')}"
									   					 update="form" icon="imagemexcluir" title="Remove" immediate="true"> 
									        <p:confirm header="Confirm" message="Are you sure you want to delete?" icon="imagemalerta" />
									        <f:setPropertyActionListener target="#{departmentService.manager}" value="#{manager}"/>
									    </p:commandButton>
									    
									    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
									        <p:spacer width="100" height="10"/>
									        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="imagempositive"/>
									        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="imagemnegative"/>
									    </p:confirmDialog>
									</p:column>	
								</p:dataTable>
							</div>
						</div>
						
						<div class="row" align="center" style="margin-top: 10px;  margin-left: 2px">
							<div class="col-md-12">
								<p:commandButton value="Back" action="cancelar" style="width:100px" immediate="true" icon="imagemvoltar"/>

								<p:spacer width="10"/>
								
								<p:commandButton id="buttonSalvar" value="Save" action="salvar" immediate="false" 
										 disabled="#{!departmentService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_ROLE_INCLUIR')}"
										 style="width:100px" process="@form" update="@form" icon="imagemsalvar"/>										 	
							</div>
						</div>		
					</p:fieldset>	
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>