<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">User</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" showSummary="false" life="2000"/>
		<div class="row">	
			<div class="col-md-12" style="border: none !important;">
				<p:panel header="USER DETAILS" style="border: none !important;">
					<p:fieldset id="plCadastro" style="border: none !important;">
						<div class="row" style="border: none !important;" >
							<div class="col-md-12">
								<p:selectOneButton label="Active?" value="#{usuarioService.usuario.boAtivo}" disabled="#{!usuarioService.permissaoSalvar}">
						            <f:selectItem itemLabel="Active" itemValue="true"/>
						            <f:selectItem itemLabel="Inactive" itemValue="false"/>
						        </p:selectOneButton>
							</div>
						</div>	
						
						<div class="row">
							<div class="col-md-6">
								<campo:simples label="Name" value="#{usuarioService.usuario.nmUsuario}" required="true" disabled="#{!usuarioService.permissaoSalvar}"/>
							</div>	
								
							<div class="col-md-6">	
								<div class="input-group" style="width: 100%">
									<campo:simples label="Username" value="#{usuarioService.usuario.login}" required="true"
												   disabled="#{!usuarioService.permissaoSalvar}" transform="none">
									</campo:simples>
									
									<div id="btnUserFound" class="input-group-btn" style="vertical-align: bottom; margin:0; padding-bottom:0px; padding-left:-5px">
										<p:commandButton disabled="true" rendered="#{usuarioService.disabledUserNotFound}" icon="imagemconfirmar" styleClass="ui-button-success" style="width: 30px"/>
					                    <p:commandButton disabled="true" rendered="#{usuarioService.disabledUserFound}" icon="imagemexcluir" styleClass="ui-button-danger" style="width: 30px"/>
								 	</div>
								 </div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">	
								<div class="row" >
									<div class="col-md-6"> 
								        <p:outputLabel for="pwd1" value="Password" rendered="#{usuarioService.renderedPassword}"
								        	style="width: 100%" disabled="#{!usuarioService.permissaoSalvar}"/>
								        			   
 								        <p:password id="pwd1" value="#{usuarioService.usuario.senha}" match="pwd2"
		 								        	toggleMask="true" redisplay="true" feedback="true" 
										            weakLabel="Weak" goodLabel="Good" strongLabel="Strong" 
		 								        	required="true" style="width: 100% !important" 
		 								        	validatorMessage="Password should match with Confirm Password."
		 								        	requiredMessage="Password: Required." rendered="#{usuarioService.renderedPassword}"
		 								        	disabled="#{!usuarioService.permissaoSalvar}">
 								        	<p:ajax event="blur" process="@this" />	    
 								        </p:password>
								 	</div>
								   
								    <div class="col-md-6">
								        <p:outputLabel for="pwd2" value="Confirm Password" rendered="#{usuarioService.renderedPassword}"
								         	style="width: 100%" disabled="#{!usuarioService.permissaoSalvar}"/>
								         			   
								        <p:password id="pwd2" value="#{usuarioService.usuario.senha}" 
										        	required="true" feedback="true" 
										            weakLabel="Weak" goodLabel="Good" strongLabel="Strong"
										        	style="width: 100% !important" rendered="#{usuarioService.renderedPassword}"
										        	validatorMessage="Password should match with Confirm Password."
										        	requiredMessage="Confirm Password: Required."
										        	disabled="#{!usuarioService.permissaoSalvar}" >
								        	<p:ajax event="blur" process="@this" />
								        </p:password>
								    </div>
							     </div>	
							</div>
						</div>	
						
						<div class="row">
							<div class="col-md-12">
								<div class="input-group" style="width: 100%">
									<campo:simples label="E-mail" value="#{usuarioService.usuario.email}" 
										required="true" transform="lowercase" disabled="#{!usuarioService.permissaoSalvar}">
									</campo:simples>
									
									<div id="btnEmailFound" class="input-group-btn" style="vertical-align: bottom; margin:0; padding-bottom:0px; padding-left:-5px">
										<p:commandButton disabled="true" rendered="#{usuarioService.emailNotFound}" icon="imagemconfirmar" styleClass="ui-button-success" style="width: 30px"/>
					                    <p:commandButton disabled="true" rendered="#{usuarioService.emailFound}" icon="imagemexcluir" styleClass="ui-button-danger" style="width: 30px"/>
								 	</div>
								 </div>
							
								
							</div>
						</div>
						
						
						<div class="row" align="center" style="margin-top: 10px;  margin-left: 2px">
							<div class="col-md-12">
								<p:commandButton value="Back" action="cancelar" style="width:100px" immediate="true" icon="imagemvoltar"/>

								<p:spacer width="10"/>
								
								<p:commandButton id="buttonSalvar" value="Save" action="salvar" immediate="false" 
										 disabled="#{!usuarioService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_USUARIO_INCLUIR')}"
										 style="width:100px" process="@form" update="@form" icon="imagemsalvar"/>										 	
							</div>
						</div>		
					</p:fieldset>	
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>