<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:c="http://java.sun.com/jsp/jstl/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/standard.xhtml">

<ui:define name="title">Login</ui:define>

<ui:define name="content">
<div class="span-20">
	<br/><br/><br/>
	<div class="container">
        <div class="row">
        	
            <div class="col-md-5 col-md-offset-3">
	            
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                                        
                    
                    <div class="panel-body">
	                    <c:if test="${not empty param.login_error}">
							<div>
								* Invalid user, please try again!<br/><hr />
							</div>
						</c:if>
						
                        <form name="f" action="${request.contextPath}/app/j_spring_security_check" method="post" style="display: inline-block; text-align: center !important; width: 100%" class="contact-form">
                            <fieldset>
                            	<div class="row" style="text-align: center;">
                                	<img alt="petshelter" src="../resources/images/login.png" style="height: 90px" width="90px"/>
                                </div>
                            	
                            	<div class="row" style="display: inline-block; width: 100%">
	                                <div class="form-group">
	                                    <c:if test="${not empty param.login_error}">
											<c:set var="username" value="${sessionScope.SPRING_SECURITY_LAST_USERNAME}"/>
										</c:if>
	                                </div>
	                                
	                                <div class="form-group">
	                                	<input class="form-control" placeholder="Username" type="text" name="j_username" value="gustavo" style="height:30px !important; border-radius: 4px !important;"/>
	                                </div>
	                                
	                                <div class="form-group">
	                                    <input class="form-control" placeholder="Senha" type="password" name="j_password" value="mafra" style="height:30px !important; border-radius: 4px !important;"/>		
	                                </div>
<!-- 	                                <div class="checkbox"> -->
<!-- 	                                    <label>                                         -->
<!-- 	                                        <input type="checkbox" name="_spring_security_remember_me"/>  -->
<!-- 											Memorizar senha. -->
<!-- 	                                    </label>	                                     -->
<!-- 	                                </div> -->
	                                
                                </div>
                                
                                <div class="row" style="display: inline-block !important; width: 100%">
                                	<div class="form-group">
                                		<input name="submit" type="submit" value="Login"
                                			style="background-color: #a18f5d !important; color: #fff !important; width: 100%;
                                			border-style: none !important; height:30px; border-radius: 4px;"/>
                                	</div>
	                                		
<!-- 	                                <div class="form-group" style="text-align: center;"> -->
<!--                                 		<input name="reset" type="reset" value="Cancel" style="width: 100%"/> -->
<!--                                 	</div>	 -->
	                           </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</div>
</ui:define>
</ui:composition>