<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Department</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true"/>
			
		<div class="row" >
			<div class="col-md-12">
				<p:panel header="DEPARTMENT" style="border: none !important;">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-2">															 
										<campo:valor decimalPlaces="0" thousandSeparator="" value="#{criteria.code}" label="Code">
											<p:ajax event="blur" process="@this" update=":form:paneltbl" />
										</campo:valor>
									</div>
							
								<div class="col-md-6">															 
									<campo:simples value="#{criteria.description}" label="Description">
										<p:ajax event="blur" process="@this" update=":form:paneltbl" />
									</campo:simples>
								</div>
								
								<div class="col-md-4" style="padding-top: 18px">
									 <p:toolbarGroup align="left">
									 	<p:commandButton  icon="imagemfiltrar" title="Search" value="Search" style="width:100px">
											<p:ajax event="click" process="@this" update=":form:tbl"/>
										</p:commandButton>
										
										<p:commandButton icon="imagemlimpar" title="Clean" value="Clean" action="limpar" style="width:100px">
											<p:ajax event="click" process="@this" update=":form:tbl"/>
										</p:commandButton>
									 </p:toolbarGroup>
								</div>
							</div>
						</div>
						
						<p:spacer height="5px"/>
						
						<div class="row" style="margin-top: 15px">
							<div class="col-md-12" >
								<h:panelGroup id="paneltbl">	
									<p:dataTable id="tbl" 
												 value="#{criteria}" 
												 var="item" 
												 paginator="true" 
												 rows="5" 
												 scrollable="true"
        									     scrollHeight="#{criteria.getPageSize() > 5 ? 200 : criteria.getPageSize() == 0 ? 40 : criteria.getPageSize() * 40}"
        									     rowsPerPageTemplate="5,10,15,20,30,50"
												 lazy="true"
												 paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
												 emptyMessage="Nenhum registro encontrado" 
												 paginatorPosition="bottom" 
												 selectionMode="single"
												 styleClass="tabelaMobile"
												 rowKey="#{item.idDepartment}"
												 sortBy="#{item.idDepartment}"
												 sortOrder="DESCENDING"
												 resizableColumns="true"
												 currentPageReportTemplate="Página {currentPage} de {totalPages} || {startRecord} - {endRecord} de {totalRecords}">		 
						            	
						            	<p:ajax event="rowSelect" process="@this, tbl" update="tbl"
											listener="#{criteria.someListenerSelecionarDepartment}" />
												
										<p:column headerText="Code" style="text-align: left; width: 10%" sortBy="#{item.idDepartment}">
								             <h:outputText value="#{item.idDepartment}" style="white-space:nowrap !important;"/>		            	
								        </p:column>			
												
							            <p:column headerText="Description" style="text-align: left; width: 40%" sortBy="#{item.description}">
								             <h:outputText value="#{item.description}" style="white-space:nowrap !important;"/>		            	
								        </p:column>
								        
								        <p:column headerText="Maximum Days" style="text-align: left; width: 70px" sortBy="#{item.maximumDays}">
								             <h:outputText value="#{item.maximumDays}" style="white-space:nowrap !important;"/>		            	
								        </p:column>
								        
								        <p:column headerText="Maximum Employees" style="text-align: left; width: 90px" sortBy="#{item.maximumEmployees}">
								             <h:outputText value="#{item.maximumEmployees}" style="white-space:nowrap !important;"/>		            	
								        </p:column>
								        
								        <p:column style="width: 150px" >
											<p:growl id="message" showDetail="true" sticky="true" />
							 			    
						 			    	<p:commandButton id="buttonConsultar" action="consultar" update="@form" immediate="true" 
														icon="imagemfiltrar" title="Consult" disabled="#{!request.isUserInRole('ROLE_CAD_DEPARTMENT_CONSULTAR')}">
												<f:setPropertyActionListener value="#{item}" target="#{criteria.selected}" />
											</p:commandButton>
							 			    
							 			    <p:commandButton action="editar" 
											 			    disabled="#{!request.isUserInRole('ROLE_CAD_DEPARTMENT_ALTERAR')}"
											 			    id="iconEditar" 
											 			    update="@form" 
											 			    icon="imagemeditar" 
											 			    title="Edit">
							 			    	<f:setPropertyActionListener target="#{criteria.selected}" value="#{item}"/>
							 			    </p:commandButton>
							 			    				 
										    <p:commandButton action="remover" disabled="#{!request.isUserInRole('ROLE_CAD_DEPARTMENT_REMOVER')}"
										   					 update="message" icon="imagemexcluir" title="Inactivate">
										        <p:confirm header="Confirm" message="Are you sure you want to delete?" icon="imagemalerta" />
										        <f:setPropertyActionListener target="#{criteria.selected}" value="#{item}"/>
										    </p:commandButton>
										    
										    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
										        <p:spacer width="100" height="10" />
										        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="imagempositive" />
										        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="imagemnegative" />
										    </p:confirmDialog>
										</p:column>	
									</p:dataTable>
								</h:panelGroup>
								
								<p:spacer height="10"/>
								
								<div class="row" align="center">
									<p:commandButton id="buttonNovo" action="novo" value="New" style="width:100px" icon="imagemadicionar" 
													process="@this" update="@form" disabled="#{!request.isUserInRole('ROLE_CAD_DEPARTMENT_INCLUIR')}"/>
													
									<p:spacer height="10"/>				

									<p:commandButton id="buttonVoltar" action="voltarhome" value="Home" style="width:100px" icon="iconehome" />
								</div>
								
							</div>
						</div>
					</div>
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>