<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Holiday Permission</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true"/>
			
		<div class="row" >
			<div class="col-md-12">
				<p:panel header="HOLIDAY PERMISSION" style="border: none !important;">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">															 
									<campo:autocomplete label="Employee" value="#{criteria.employee}" converter="#{employeeConverterById}"
														completeMethod="#{criteria.completeEmployee}" actionClean="#{criteria.setEmployee(null)}"
														updateClean=":form">
										<p:ajax event="change" process="@this" update=":form:paneltbl"/>
										<p:ajax event="itemSelect" process="@this" update=":form:paneltbl"/>	
									</campo:autocomplete>
								</div>
								
								<div class="col-md-3">															 
									<campo:autocomplete label="Holiday Category" value="#{criteria.holidayCategory}" converter="#{holidayCategoryConverterById}"
														completeMethod="#{criteria.completeHolidayCategory}" actionClean="#{criteria.setHolidayCategory(null)}"
														updateClean=":form">
										<p:ajax event="change" process="@this" update=":form:paneltbl"/>
										<p:ajax event="itemSelect" process="@this" update=":form:paneltbl"/>
									</campo:autocomplete>
								</div>
								
								<div class="col-md-5">
									<div class="row">
										<div class="col-md-6">
										<h:outputLabel for="basic" value="Show Balance" 
													   style="width:100% !important; font-size:70% !important; color:#2D4C4C !important; font-family:Helvetica; margin: 0px !important; padding: 0px !important;"/>
        								<p:spinner id="basic" value="#{criteria.selectedYear}">
        									<p:ajax event="change" process="@this" update=":form:paneltbl"/>
        								</p:spinner>
									</div>
									
									<div class="col-md-6" style="padding-top: 20px; display: flex !important; text-align: end !important;">
										<p:toolbarGroup align="left">
										 	<p:commandButton  icon="imagemfiltrar" title="Search" value="Search" style="width:100px">
												<p:ajax event="click" process="@this" update=":form:tbl"/>
											</p:commandButton>
											
											<p:commandButton  icon="imagemlimpar" title="Clean" value="Clean" action="limpar" style="width:100px">
												<p:ajax event="click" process="@this" update=":form:tbl"/>
											</p:commandButton>
										 </p:toolbarGroup>
									</div>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="row" style="margin-top: 15px;">
							<div class="col-md-12" style="padding-top: 15px;" >
								<h:panelGroup id="paneltbl">	
									<p:dataTable id="tbl" 
												 value="#{criteria}" 
												 var="item" 
												 paginator="true" 
												 rows="5" 
												 scrollable="true"
       									         scrollHeight="#{criteria.getPageSize() > 5 ? 200 : criteria.getPageSize() == 0 ? 40 : criteria.getPageSize() * 40}"
       									         rowsPerPageTemplate="5,10,15,20,30,50"
												 lazy="true"
												 paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
												 emptyMessage="There are no records" 
												 paginatorPosition="bottom" 
												 selectionMode="single"
												 styleClass="tabelaMobile"
												 rowKey="#{item.idEmployeeHoliday}"
												 sortBy="#{item.idEmployeeHoliday}"
												 sortOrder="DESCENDING"
												 resizableColumns="true"
												 currentPageReportTemplate="Page {currentPage} of {totalPages} || {startRecord} - {endRecord} of {totalRecords}">		 
						            	
						            	<p:ajax event="rowSelect" process="@this, tbl" update="tbl"
											listener="#{criteria.someListenerSelecionarEmployeeHoliday}" />
										
										<p:column style="width: 15%" >
											<p:growl id="message" showDetail="true" sticky="true" />
							 			    <p:commandButton action="editar"
											 			     disabled="#{!request.isUserInRole('ROLE_CAD_EMPLOYEE_HOLIDAY_ALTERAR')}"
											 			     id="iconEditar"
											 			     update="@form"
											 			     icon="imagemimportar"
											 			     title="Open">
							 			    	<f:setPropertyActionListener target="#{criteria.selected}" value="#{item}"/>
							 			    </p:commandButton>
										</p:column>
												
										<p:column headerText="Employee" style="text-align: left; width:55%" >
								             <h:outputText value="#{item.employee.getFullName()}" style="white-space:nowrap !important;"/>		            	
								        </p:column>	
								        
								        <p:column headerText="Requested Time" style="text-align: left; width: 20%">
								             <h:outputText value="#{item.getAmountString()}" style="white-space:nowrap !important;"/>
								        </p:column>		
								        
								        <p:column headerText="Start Date" style="text-align: center; width: 10%">
								             <h:outputText value="#{item.startDate}" style="white-space:nowrap !important;">
								             	<f:convertDateTime pattern="dd/MM/yyyy" />
								             </h:outputText>	            	
								        </p:column>	
								        
								        <p:column headerText="End Date" style="text-align: center; width: 10%">
								             <h:outputText value="#{criteria.getDate(item.endDate)}" style="white-space:nowrap !important;">
								             	<f:convertDateTime pattern="dd/MM/yyyy"/>	
								             </h:outputText>	            	
								        </p:column>	
								        
								        <p:column headerText="Manager Permission" style="text-align: left; width: 50%" >
								             <h:outputText value="#{item.getManagerPermissionString()}" style="white-space:nowrap !important;"/>		            	
								        </p:column>	
									</p:dataTable>
								</h:panelGroup>
								
								<p:spacer height="10"/>
								
								<div class="row" align="center">
									<p:commandButton id="buttonVoltar" action="voltarhome" value="Home" style="width:100px" icon="iconehome" />
								</div>
								
							</div>
						</div>
					</div>
				</p:panel>
			</div>
		</div>
			
	</h:form>
</div>
</ui:define>
</ui:composition>