<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="label"/>
	<composite:attribute name="value"/>
	<composite:attribute name="itemvalue"/>
	<composite:attribute name="actionClean"/>
	<composite:attribute name="updateClean"/>
	<composite:attribute name="converter"/>
	<composite:attribute name="lista"/>
	<composite:attribute name="required" default="false"/>
	<composite:attribute name="disabled" default="false"/>
	<composite:attribute name="width" default="100%"/>
	<composite:attribute name="renderedLabel" default="true"/>
	<composite:attribute name="completeMethod" method-signature="java.util.List complete(java.lang.String)" />
	<composite:attribute name="title"/>
	<composite:attribute name="minQueryLength"/>
	<composite:attribute name="maxResults" default="50"/>
	<composite:attribute name="tabindex"/>
	<composite:attribute name="forceselection" default="true"/>
	
	
	<composite:clientBehavior name="itemSelect" event= "itemSelect" targets = "campo"/>
	<composite:clientBehavior name="change" event= "change" targets = "campo"/>
	<composite:clientBehavior name="blur" event= "blur" targets = "campo"/>
</composite:interface>


<composite:implementation>
	<div style="width:#{cc.attrs.width}" class="input-group">
		<p:outputLabel 	style="width:#{cc.attrs.width}" tabindex="-1"   for="campo"  value="#{cc.attrs.label}" rendered="#{cc.attrs.renderedLabel}" />
		<p:autoComplete  id="campo" value="#{cc.attrs.value}" itemValue="#{cc.attrs.itemvalue}" converter="#{cc.attrs.converter}"
						 required="#{cc.attrs.required}" disabled="#{cc.attrs.disabled}" label="#{cc.attrs.label}"
						 completeMethod="#{cc.attrs.completeMethod}" style="width: #{cc.attrs.width} !important;"
						 dropdown="true" scrollHeight="200" forceSelection="#{cc.attrs.forceselection}"
						 placeholder="TYPE..." minQueryLength="#{cc.attrs.minQueryLength}"
						 requiredMessage="#{cc.attrs.label}  : Required."
						 title="#{cc.attrs.title}" effect="puff" maxResults="#{cc.attrs.maxResults}">
		</p:autoComplete>
		
		<div class="input-group-btn" style="vertical-align: bottom; margin:0; padding-bottom:0px; padding-left:-5px">
			<p:commandButton title="Limpar" 
	          			     style="width: 30px" 
		 					 process="@this"
		 					 update="#{cc.attrs.updateClean}"
		 					 disabled="#{cc.attrs.disabled}"
		 					 tabindex="-1"
		 					 immediate="true"
	          			     icon="ui-icon imagemlimpar" 
	          			     styleClass="btn btn-default">
		    	<f:actionListener binding="#{cc.attrs.actionClean}"/>
			</p:commandButton>		          			       
		</div>
	</div>
</composite:implementation>


</html>
