<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="label" />
	<composite:attribute name="value" />
	<composite:attribute name="mindate"/>
	<composite:attribute name="maxdate"/>
	<composite:attribute name="required" default="false"/>
	<composite:attribute name="desativado" default="false"/>
	<composite:attribute name="navigator" default="true"/>
	<composite:attribute name="timeOnly" default="false"/>
	<composite:attribute name="pattern"/>
	<composite:attribute name="width"/>
	<composite:attribute name="immediate" default="false"/>
	<composite:attribute name="mask" default="true"/>
	<composite:attribute name="placeholder" />
	<composite:attribute name="style" />
	<composite:attribute name="readonlyInput" />
	
	<composite:clientBehavior name="dateSelect" event= "dateSelect" targets = "campo"/>
	<composite:clientBehavior name="blur" event= "blur" targets = "campo"/>
</composite:interface>


<composite:implementation>
	<h:panelGrid width="#{cc.attrs.width}">	
		
		<p:outputLabel for="campo" value="#{cc.attrs.label}" />
			<p:calendar  id="campo" showOn="button"
						 label="#{cc.attrs.label}" 
						  style="#{cc.attrs.style}"
						 value="#{cc.attrs.value}" 
						 required="#{cc.attrs.required}" 
						 disabled="#{cc.attrs.desativado}"
						 styleClass="calendarClass"
						 maxdate="#{cc.attrs.maxdate}"
						 pattern="#{cc.attrs.pattern}"
						 navigator="#{cc.attrs.navigator}"
						 timeOnly="#{cc.attrs.timeOnly}"
						 immediate="#{cc.attrs.immediate}"
						 mask="#{cc.attrs.mask}"
						 requiredMessage="#{cc.attrs.label}  : Campo obrigatório"
						 placeholder="#{cc.attrs.placeholder}"
						 mindate="#{cc.attrs.mindate}"
						 readonlyInput="#{cc.attrs.readonlyInput}"/>
	</h:panelGrid>
</composite:implementation>

</html>
