<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="label" />
	<composite:attribute name="value" />
	<composite:attribute name="enumClass" />
	<composite:attribute name="required" default="false"/>
	<composite:attribute name="disabled" default="false"/>
	<composite:attribute name="tamanhoTotal" default="12"/>
	<composite:attribute name="tamanho" default="10"/>
	<composite:attribute name="tamanhoLabel"/>
	
	<composite:clientBehavior name="change" event= "change" targets = "campo"/>
</composite:interface>


<composite:implementation>
	<div class="form-group col-sm-#{cc.attrs.tamanhoTotal}" id="#{cc.clientId}">
		<h:outputLabel styleClass="col-sm-#{cc.attrs.tamanhoLabel eq null ? 12 - cc.attrs.tamanho : cc.attrs.tamanhoLabel } control-label" 
					   for="campo" value="#{cc.attrs.label}" />

		<div class="col-sm-#{cc.attrs.tamanho}">
			<h:selectOneMenu id="campo" styleClass="form-control" value="#{cc.attrs.value}" disabled="#{cc.attrs.disabled}" required="#{cc.attrs.required}"
							 requiredMessage="#{cc.attrs.label}: Required.">
				<f:selectItem itemLabel="SELECIONE.." itemValue="#{null}"/>
				<f:selectItems value="#{referenciaMap[cc.attrs.enumClass]}"/>
	        </h:selectOneMenu>		
		</div>
	
	</div>
</composite:implementation>


</html>
