<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="label" />
	<composite:attribute name="value" />
	<composite:attribute name="type" default="text"/> 
	<composite:attribute name="required" default="false"/>
	<composite:attribute name="maxleght" default="255"/>
	<composite:attribute name="mask"/>
	<composite:attribute name="desativado" default="false"/>
	<composite:attribute name="tamanhoTotal" default="12"/>
	<composite:attribute name="tamanho" default="10"/>
	<composite:attribute name="tamanhoLabel"/>
	<composite:attribute name="immediate" default="false"/>
	
	<composite:clientBehavior name="blur" event= "blur" targets = "campo"/>
</composite:interface>

<composite:implementation>
	<p:outputLabel value="#{cc.attrs.label}" for="campo" />	
	<p:inputTextarea rows="10" cols="200"
					 autoResize="false"
					 styleClass="form-control" id="campo" 
					 label="#{cc.attrs.label}" 
					 value="#{cc.attrs.value}" 
					 required="#{cc.attrs.required}" 
					 maxlength="#{cc.attrs.maxleght}" 
					 disabled="#{cc.attrs.desativado}"
					 mask="#{cc.attrs.mask}"
					 immediate="#{cc.attrs.immediate}"
					 type="#{cc.attrs.type}"
					 requiredMessage="#{cc.attrs.label}: Required."/>						 
</composite:implementation>

</html>
