<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:campo="http://java.sun.com/jsf/composite/components/campo">


	<p:dialog header="Permission"
			  widgetVar="dlgPermission" 
			  showEffect="drop" 
			  resizable="false"
			  modal="true" 
			  hideEffect="puff" 
			  style="z-index:1031 !important;"
			  responsive="true" 
			  draggable="true" 
			  height="100%" 
			  width="70%"
			  appendTo="@(body)"
			  dynamic="true">
		
		<h:form id="formPopup">
			<p:growl id="msgs" showDetail="true" life="5000" showSummary="true" />
			<div class = "row">
				<div class="col-md-6">
					<campo:simples label="Localizar pela descrição" maxleght="255" required="false" value="#{criteriaPlanoConta.busca}" 
								   disabled="false">
						<p:ajax event="blur" process="@this"/>
					</campo:simples>
				</div>
			</div>
			
			<p:spacer height="15" />
			
			<div class ="row" align="center">
				<p:commandButton immediate="true" value="ok" action="consultarplano" disabled="#{flowScope.consultar}" process="@this" 
								 update=":#{p:component('contaDebito')}" icon="imagemadicionar" style="width:100px !important"/>
										  
				<p:commandButton immediate="true" value="Voltar" action="voltarEdit" icon="imagemvoltar" style="width:100px !important"/>
			</div>
			
		</h:form>
	</p:dialog>
</ui:composition>