<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Booking Holiday</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" showSummary="false" life="2000"/>
		<div class="row">	
			<div class="col-md-12" style="border: none !important;">
				<p:panel header="BOOKING HOLIDAY" style="border: none !important;">
					<p:fieldset id="plCadastro" style="border: none !important;">
						<div class="row">
							<div class="row" style="display: grid; justify-content: center; margin-top: 30px;">
								<h:graphicImage library="images" name="booked.png" />
								<h:outputLabel value="Your Holiday Request has been made!" style="margin-top: 20px; text-align: center"/>
								<h:outputLabel value="You will receive an Email Confirmation." style="text-align: center"/>
								<p:commandButton value="Print Form and send by email" immediate="false"
												 oncomplete="window.open('rep_holiday_form/#{flowExecutionContext.key}/#{bookingHolidayService.employeeHoliday.idEmployeeHoliday}/true', '_blank')" 
											 	 disabled="#{!request.isUserInRole('ROLE_CAD_BOOKING_HOLIDAY_IMPRIMIR')}"
											 	 style="width:300px" icon="imagemprinter"/>
							</div>
						</div>
					</p:fieldset>	
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>