

.ui-autocomplete-input {
	width: 100%;
	heiht: 100%;
	border: none;
	background: none;
	
}

.ui-inputNum input { width: 15em }

.ui-growl {
    position:absolute;
    top:10%;
/*     left:37.5%; */
    width:25%;
    font-size:11px;
    z-index:9999;
}

columm-name {
    min-width: 150px;
}

.centralizar {text-align: center !important;}  

body{
	 font-size: 14px !important;
}

.ui-outputlabel{
	 font-size: 70% !important;
	 color:#2D4C4C !important;
	 margin:0px !important;
	 padding:0px !important;
}

.ui-selectoneradio{
 	font-size: 70% !important;
}

.ui-sortable-column-icon{
 	font-size: 30px !important;
}

.ui-column-title{
 	font-size: 70% !important;
 	color:#003300 !important;
}

.ui-button-text {
	font-size: inherit !important;
	color:#000000 !important;
}

.button {
  transition-duration: 0.4s;
}

.ui-button:hover {
  background-color: #a8bad0!important;
  color: white !important;
}

.ui-panel-title{
	font-size:100% !important;
	color:#FFFFFF !important;
}

.ui-dialog-title{
	font-size:100% !important;
	color:#FFFFFF !important;
}

/* .ui-widget{ */
/* 	background-color:#FFFFFF!important; */
/* } */

.ui-widget-header{
	background-color:#182537 !important;
	background-image: none !important;
}

.ui-datepicker-month{
	color:#FFFFFF!important;
}

.ui-datepicker-year{
	color:#FFFFFF!important;
}
	
.ui-paginator-last{
	background-color:#FFFFFF !important;
}

.ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
  padding: 2px !important;
  background-color: #ECF0F5 !important;
}

.ui-datatable .ui-datatable-header {
  border-bottom: 0px none !important;
  background-color: #ECF0F5 !important;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a, .ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a {
  background-color: #FFFFFF !important;
  cursor: default !important;
  background-image: none !important;
}

.ui-state-error{
	color: #000000 !important;
}

.ui-state-disabled{
	background-color: #FFFFFF !important;
	color: #000000 !important;
	opacity: 0.7 !important; 
}

.ui-inputfield{
	text-transform: none !important;
	height: 27px !important;
	width: 100%;
}

.pe-inputNumber{
	width: 100% !important;
}

.ui-inputtextarea{
	height: 10% !important;
	width: 100% !important;
}

.ui-paginator-current{
	background-color: #FFFFFF !important;
}

.ui-tabs-nav{
	background-color: #FFFFFF !important;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li a {
	color: #000000 !important;
	font-weight: bold !important;
	background-color: #E8E8E8 !important;
	background-image: none !important;
}

.ui-tabs-selected {
	background-color: #FFFFFF !important;
	color: #FFFFFF !important;
}



.ui-fieldset-legend{
	 font-size: 70% !important;
	 margin:0px !important;
	 background-color: transparent !important;
	 border-color: transparent !important;
	 background: transparent !important;
	 cursor: default !important;
}

.ui-panelgrid{
	 margin:0px !important;
	 padding:0px !important;
}

.btn-primary {
  display: block;
  line-height: 0.5;
  height: 27px;
  font-weight: bold;
}

.btn-danger {
  display: block;
  line-height: 0.5;
  height: 27px;
  font-weight: bold;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 25px !important;
  font-size: 1em;
}

.ui-widget textarea{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 60px !important;
  font-size: 1em;
}

.ui-datatable tbody td {
  border-color: #ffffff;
}

.ui-datatable .ui-datatable-header {
  border-bottom: 0px none !important;
  background-color: #FFFFFF !important;
}

.ui-icon-closethick{
	background-color: #FFFFFF !important;
}

.ui-icon-circle-triangle-e{
	background-color: #FFFFFF !important;
}

.ui-icon-circle-triangle-w{
	background-color: #FFFFFF !important;
}

.ui-icon {
    background-image: url("/rasz/app/javax.faces.resource/images/ui-icons_333333_256x240.png?ln=primefaces-bootstrap") !important;
}

.ui-fileupload-buttonbar{
	background-color: #E8E8E8 !important;
}

.ui-datatable-scrollable-header{
	background-color:transparent !important;
}

.ui-dialog-content {
  overflow: hidden !important;
}

.imagemxls {
 background-image: url("../images/xls.png") !important;
 background-repeat: no-repeat !important;
}

.imagempdf {
 background-image: url("../images/pdf.png") !important;
 background-repeat: no-repeat !important;
}

.imagemprinter {
 background-image: url("../images/printer.png") !important;
 background-repeat: no-repeat !important;
}

.imagematualizar {
 background-image: url("../images/refresh.png") !important;
 background-repeat: no-repeat !important;
}

.imagemvoltar {
 background-image: url("../images/seta_esquerda16x16.png") !important;
 background-repeat: no-repeat !important;
}

.imagemexcluir {
 background-image: url("../images/delete.png") !important;
 background-repeat: no-repeat !important;
}

.imagemexcluircampo{
 background-image: url("../images/inactive.png") !important;
 background-repeat: no-repeat !important;
}

.imagemeditar {
 background-image: url("../images/editar_16x16.png") !important;
 background-repeat: no-repeat !important;
}

.imagemfiltrar {
 background-image: url("../images/Filtrar.png") !important;
 background-repeat: no-repeat !important;
}

.imagemlimpar {
 background-image: url("../images/limpar2.png") !important;
 background-repeat: no-repeat !important;
}

.imagemadicionar {
 background-image: url("../images/adicionar.png") !important;
 background-repeat: no-repeat !important;
}

.imagemsalvar {
 background-image: url("../images/save.png") !important;
 background-repeat: no-repeat !important;
}

.imagemgreen {
 background-image: url("../images/green.png") !important;
 background-repeat: no-repeat !important;
}

.imagemexportar {
 background-image: url("../images/exportar.png") !important;
 background-repeat: no-repeat !important;
}

.imagemimportar {
 background-image: url("../images/importar.png") !important;
 background-repeat: no-repeat !important;
}

.imagemconfirmar {
 background-image: url("../images/confirm.png") !important;
 background-repeat: no-repeat !important;
}

.imagempositive {
 background-image: url("../images/positive.png") !important;
 background-repeat: no-repeat !important;
}

.imagemnegative {
 background-image: url("../images/negative.png") !important;
 background-repeat: no-repeat !important;
}

.imagemativar{
	background-image: url("../images/ativar.png") !important;
 	background-repeat: no-repeat !important;
}

.imagemtransfer{
	background-image: url("../images/transfer(2).png") !important;
 	background-repeat: no-repeat !important;
}

.imagemalerta {
 background-image: url("../images/alert.png") !important;
 background-repeat: no-repeat !important;
}
.imagemcrossdock {
 background-image: url("../images/circle.png") !important;
 background-repeat: no-repeat !important;
}

.iconehome {
	background-image: url("../images/iconehome.png") !important;
 	background-repeat: no-repeat !important;
}

.impressora{
	background-image: url("../images/Impressora3.png") !important;
 	background-repeat: no-repeat !important;
}
.imagemxml{
	background-image: url("../images/imagemxml.png") !important;
 	background-repeat: no-repeat !important;
}

.MyOneButton.ui-selectonebutton .ui-button.ui-state-hover,
.MyOneButton.ui-selectonebutton .ui-state-active {
    background-color: #B7CDDA !important;
}

.ui-autocomplete-dropdown{
	position: absolute !important;
	height: 100% !important;
	width: 2em !important;
	right: -2px !important;
	margin-left: inherit !important;
}

.CleanButton.ui-button{
	border-style: solid;
}

.calendarClass input{
 width: 150px !important;
}

.dropGrid{
	/*background-color: gray !important;*/
	color: black !important;
}

.ui-orderlist .ui-orderlist-list{ /*EXEMPLO TELA DE MONTAGEM DEFAULT HEIGHT 100PX*/
	height: 150px !important;
	width: 300px !important;
}








/* HEADER DAS GRIDS */
.ui-widget-header .ui-state-default{
	background: #ECF0F5 !important;
	background-image:none !important;
	border-style: none !important;
	border
}



/* BUTTONS */
.ui-state-default.ui-button{
	background: #ECF0F5 !important;
	background-image:none !important;
	border-style: none !important;
	height: 35px !important;
}	

/* BUTTONS HOVER */
.ui-state-default.ui-button:hover {
  background-color: #a8bad0!important;
  color: white !important;
}



/* FIELDS */
.ui-state-default.ui-inputfield{
	background: #ECF0F5 !important;
	background-image:none !important;
	border-style: none !important;
	box-shadow: none !important;
	height: 35px !important;
}

/* FIELDS HOVER */
.ui-state-default.ui-inputfield:hover{
	background: #a8bad0!important;
	background-image:none !important;
	border-style: none !important;
	box-shadow: none !important
}



/* TEXT AREA */
.ui-state-default.ui-inputtextarea{
	border-radius: 4px !important; 
	height: 60px !important;
}



/* FIELDS DISABELD */
.ui-state-default.ui-inputfield.ui-state-disabled{
	background: #cfcfcf !important;
}
.ui-state-default.ui-inputfield.ui-state-disabled:hover{
	background: #cfcfcf !important;
}



/* BUTTON PAGINATOR LAST */
.ui-state-default.ui-paginator-last:hover{
	background: #a8bad0 !important;
}
.ui-state-default.ui-paginator-last{
	background: #cfd9e4!important;
}

/* BUTTON PAGINATOR NEXT */
.ui-state-default.ui-paginator-next:hover{
	background: #a8bad0 !important;
}
.ui-state-default.ui-paginator-next{
	background: #cfd9e4 !important;
}

/* BUTTON PAGINATOR PREV */
.ui-state-default.ui-paginator-prev:hover{
	background: #a8bad0 !important;
}	
.ui-state-default.ui-paginator-prev{
	background: #cfd9e4 !important;
}	

/* BUTTON PAGINATOR FIRST */
.ui-state-default.ui-paginator-first:hover{
	background: #a8bad0 !important;
}	
.ui-state-default.ui-paginator-first{
	background: #cfd9e4 !important;
}	

/* BUTTON PAGINATOR NUMBERS */
.ui-state-default.ui-paginator-page:hover{
	background: #a8bad0 !important;
}	
.ui-state-default.ui-paginator-page{
	background: #cfd9e4 !important;
}


/* COMBOS */
.ui-widget select{
	background: #ECF0F5 !important;
	background-image:none !important;
	border-style: none !important;
	border-radius: 4px !important;
	box-shadow: none !important
}
.ui-widget select:focus-visible{
	outline: none !important;
}



/* SPINNER */
.ui-state-default.ui-spinner-up{
	height: 17px !important;
}
.ui-state-default.ui-spinner-down{
	height: 17px !important;
}
