<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml">

<ui:define name="title">Erro-404</ui:define>

<ui:define name="content">
<div class="span-10">
	
	<h:form id="form" styleClass="form-horizontal" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" />
		
		 	
	          <div class="error-page" style="height: 400px">
	            <h2 class="headline text-yellow"> 404</h2>
	            <div class="error-content">
	              <h3><i class="fa fa-warning text-yellow"></i> Oops! Página não encontrada.</h3>
	              <p>
	                Não foi possível encontrar a página que você estava procurando.
	                Enquanto isso, você pode <a href='home'>retornar a tela principal</a> ou tente usar o formulário de busca.
	              </p>
	              <form class='search-form'>
	                <div class='input-group'>
	                  <input type="text" name="search" class='form-control' placeholder="Search"/>
	                  <div class="input-group-btn">
	                    <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i></button>
	                  </div>
	                </div><!-- /.input-group -->
	              </form>
	            </div><!-- /.error-content -->
	          </div><!-- /.error-page -->
	</h:form>
		
</div>
</ui:define>
</ui:composition>