<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml">

<ui:define name="title">Erro-404</ui:define>

<ui:define name="content">
<div class="span-10">
	
	<h:form id="form" styleClass="form-horizontal" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" />
		<p:outputLabel value="Página não encontrada."/>
	</h:form>
		
</div>
</ui:define>
</ui:composition>