<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml">

<ui:define name="title">Home</ui:define>

<ui:define name="content">
<div class="span-10">
	
	<h:form id="form" styleClass="form-horizontal" onkeypress="if (event.keyCode == 13) return false;" style="margin-top: 10% !important; margin-bottom: 10% !important">
		<p:growl id="msgs" showDetail="true" />
		<div style="text-align: center !important; height: 100% !important;">
			<img src="../resources/images/logo_home.png" width="300" height="300" style="display: inline-block !important; text-align: center !important;"/>
		</div>
	</h:form>
		
</div>
</ui:define>
</ui:composition>