<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Role</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" showSummary="false" life="2000"/>
		<div class="row">	
			<div class="col-md-12" style="border: none !important;">
				<p:panel header="ROLE DETAILS" style="border: none !important;">
					<p:fieldset id="plCadastro" style="border: none !important;">
						<div class="row">
							<div class="col-md-8">
								<campo:simples label="Description" value="#{roleService.role.description}" required="true" 
								disabled="#{!roleService.permissaoSalvar}" />
							</div>
							
							<div class="col-md-2" style="display: grid; padding-top: 10px">
								<p:outputLabel for="manager" value="Manager?" />
								<p:selectOneButton id="manager" label="Manager?" value="#{roleService.role.manager}" 
												   desativado="#{!roleService.permissaoSalvar}" required="true">
						            <f:selectItem itemLabel="Yes" itemValue="true"/>
						            <f:selectItem itemLabel="Not" itemValue="false"/>
						        </p:selectOneButton>
							</div>
							
							<div class="col-md-2" style="display: grid; padding-top: 10px">
								<p:outputLabel for="hrmanager" value="HR Manager?" />
								<p:selectOneButton id="hrmanager" label="HR Manager?" value="#{roleService.role.hrManager}" 
												   desativado="#{!roleService.permissaoSalvar}" required="true">
						            <f:selectItem itemLabel="Yes" itemValue="true"/>
						            <f:selectItem itemLabel="Not" itemValue="false"/>
						        </p:selectOneButton>
							</div>	
						</div>
						
						<div class="row" align="center" style="margin-top: 10px;  margin-left: 2px">
							<div class="col-md-12">
								<p:commandButton value="Back" action="cancelar" style="width:100px" immediate="true" icon="imagemvoltar"/>

								<p:spacer width="10"/>
								
								<p:commandButton id="buttonSalvar" value="Save" action="salvar" immediate="false" 
										 disabled="#{!roleService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_ROLE_INCLUIR')}"
										 style="width:100px" process="@form" update="@form" icon="imagemsalvar"/>										 	
							</div>
						</div>		
					</p:fieldset>	
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>