<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="label" />
	<composite:attribute name="value" />
	<composite:attribute name="converter" />
	<composite:attribute name="lista" />
	<composite:attribute name="itemLabel" />
	<composite:attribute name="width" default="100%"/>
	<composite:attribute name="required" default="false"/>
	<composite:attribute name="disabled" default="false"/>
	<composite:attribute name="immediate" default="false"/>
	<composite:attribute name="labelrendered" default="true"/>
	
	
	<composite:clientBehavior name="change" event= "change" targets = "campo"/>
	<composite:clientBehavior name="itemselect" event= "itemselect" targets = "campo"/>
</composite:interface>


<composite:implementation>
	<div style="width:#{cc.attrs.width}">
		<p:outputLabel rendered="#{cc.attrs.labelrendered}" value="#{cc.attrs.label}" for="campo" style="width:#{cc.attrs.width}"/>	
		<h:selectOneMenu id="campo" 
						 style="width: #{cc.attrs.width}" 
						 value="#{cc.attrs.value}" 
						 converter="#{cc.attrs.converter}"
						 required="#{cc.attrs.required}" 
						 disabled="#{cc.attrs.disabled}" 
						 label="#{cc.attrs.label}"
						 immediate="#{cc.attrs.immediate}"
						 requiredMessage="#{cc.attrs.label}: Required."> 
			<f:selectItem itemLabel="SELECT..." itemValue="#{null}"/>
			<f:selectItems var="item" value="#{cc.attrs.lista}" itemLabel="#{cc.attrs.itemLabel}"/>
		</h:selectOneMenu>
	</div>
</composite:implementation>


</html>
