<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="label" />
	<composite:attribute name="value" />
	<composite:attribute name="mask"/>
	<composite:attribute name="width" default="100%"/>
	<composite:attribute name="type" default="text"/> 
	<composite:attribute name="required" default="false"/>
	<composite:attribute name="maxleght" default="255"/>
	<composite:attribute name="transform" default="uppercase"/>
	<composite:attribute name="disabled" default="false"/>
	<composite:attribute name="placeholder" />
	<composite:attribute name="tooltip" default=""/> 
	<composite:attribute name="rendered"/> 
	<composite:attribute name="displaylabel" default="true"/> 
	<composite:attribute name="onkeyup" default=""/> 
	<composite:attribute name="tabindex" default=""/> 
	<composite:attribute name="title" 	 default=""/>
	<composite:attribute name="pattern" default="dd/MM/yyyy hh:mm:ss"/>
	
	
	<composite:clientBehavior name="keyup" event= "keyup" targets = "campo"/>
	<composite:clientBehavior name="blur" event= "blur" targets = "campo"/>
	<composite:clientBehavior name="change" event= "change" targets = "campo"/>
	
</composite:interface>

<composite:implementation>
   <div style="width:#{cc.attrs.width}">
		<p:outputLabel value="#{cc.attrs.label}" for="campo" style="width:#{cc.attrs.width}; display:#{cc.attrs.displaylabel}"/>	
		<p:inputText id="campo"
					 style="text-transform:#{cc.attrs.transform} !important; width: #{cc.attrs.width} !important;"
					 label="#{cc.attrs.label}" 
					 value="#{cc.attrs.value}"
					 disabled="#{cc.attrs.disabled}"
					 required="#{cc.attrs.required}" 
					 maxlength="#{cc.attrs.maxleght}"
					 mask="#{cc.attrs.mask}"
					 type="#{cc.attrs.type}"
					 immediate="#{cc.attrs.immediate}"
					 requiredMessage="#{cc.attrs.label}: Required."
					 placeholder="#{cc.attrs.placeholder}" 
					 rendered="#{cc.attrs.rendered}"
					 tabindex="#{cc.attrs.tabindex}"
					 onkeyup="#{cc.attrs.onkeyup}"
					 pattern="#{cc.attrs.pattern}"
					 title="#{cc.attrs.title}">
			<f:convertDateTime pattern="#{cc.attrs.pattern}" for="campo" />
		</p:inputText>	
	</div>
			
</composite:implementation>

</html>
