<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="titulo"/>
</composite:interface>


<composite:implementation>
	<div>
		<h:panelGrid columns="2" cellpadding="10">
			<p:row>
	            <img alt="Pet-Shelter" src="../resources/styles/bootstrap/images/ico/favicon.ico" class="hidden-xs"/>
            </p:row>
            <p:row>
				<h4>#{cc.attrs.titulo}</h4>  
			</p:row>
        </h:panelGrid>		
	</div>
</composite:implementation>


</html>
