<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="label" />
	<composite:attribute name="value" />
	<composite:attribute name="type" default="text"/> 
	<composite:attribute name="required" default="false"/>
	<composite:attribute name="maxleght" default="255"/>
	<composite:attribute name="width" default="100%"/>
	<composite:attribute name="mask"/>
	<composite:attribute name="disabled" default="false"/>
	<composite:attribute name="tamanhoTotal" default="12"/>
	<composite:attribute name="tamanho" default="10"/>
	<composite:attribute name="tamanhoLabel"/>
	<composite:attribute name="placeHolder"/>
	<composite:attribute name="immediate" default="false"/>
	<composite:attribute name="styleClass" default=""/>
	<composite:attribute name="tabindex" default=""/>
	
	<composite:clientBehavior name="keyup" event= "keyup" targets = "campo"/>
	<composite:clientBehavior name="blur" event= "blur" targets = "campo"/>
</composite:interface>


<composite:implementation>
	 <div style="width:#{cc.attrs.width}"> 
		<p:outputLabel value="#{cc.attrs.label}" for="campo" />	
		<p:inputMask id="campo"
					 style="width: #{cc.attrs.width} !important"
					 label="#{cc.attrs.label}" 
					 value="#{cc.attrs.value}" 
					 required="#{cc.attrs.required}" 
					 maxlength="#{cc.attrs.maxleght}" 
					 disabled="#{cc.attrs.disabled}"
					 mask="#{cc.attrs.mask}"
					 tabindex="#{cc.attrs.tabindex}"
					 type="#{cc.attrs.type}"
					 immediate="#{cc.attrs.immediate}"
					 requiredMessage="#{cc.attrs.label}: Required."
					 placeholder="#{cc.attrs.placeholder}" 
					 styleClass="#{cc.attrs.styleClass}"/>
	 </div>
</composite:implementation>

</html>
