<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<!-- Componente Utilizado para Anexar um ou ate três botoes ao Lado do Input Text -->
<composite:interface>
	<composite:attribute name="label" />
	<composite:attribute name="value" />
	<composite:attribute name="mask"/>
	<composite:attribute name="width" default="100%"/>
	<composite:attribute name="type" default="text"/> 
	<composite:attribute name="required" default="false"/>
	<composite:attribute name="maxleght" default="255"/>
	<composite:attribute name="transform" default="uppercase"/>
	<composite:attribute name="disabled" default="false"/>
	<composite:attribute name="placeholder" />
	<composite:attribute name="tooltip" default=""/> 
	<composite:attribute name="rendered"/> 
	<composite:attribute name="icon" default=""/>
	<composite:attribute name="title"/> 
	
	<!-- Primeiro Botao por Default e False -->
	<composite:attribute name="value1" />
	<composite:attribute name="width1" default="50px"/>
	<composite:attribute name="process1"/>
	<composite:attribute name="update1" />
	<composite:attribute name="actionTeste" method-signature="java.lang.String action()" required="false" />
	<!-- Segundo Botao por Default e False -->
	<composite:attribute name="rendered2" default="false"/> 
	<composite:attribute name="icon2" default=""/>
	<composite:attribute name="title2" default=""/>
	<composite:attribute name="value2"/>
	<composite:attribute name="width2" default="50px"/>
	<composite:attribute name="process2"/>
	<composite:attribute name="update2" />
	<!--															 Verificar                                           -->
<!-- 	<composite:attribute name="action2" type="java.lang.String" /> -->
	
	<composite:clientBehavior name="keyup" event= "keyup" targets = "campo"/>
	<composite:clientBehavior name="blur" event= "blur" targets = "campo"/>
	<composite:clientBehavior name="click" event= "click" targets = "botao"/>
	
</composite:interface>

<composite:implementation>
   <div style="width:#{cc.attrs.width}">
		<p:outputLabel value="#{cc.attrs.label}" for="campo" style="width:#{cc.attrs.width};"/>	
		<div class="input-group">
			<p:inputText id="campo"
						 style="text-transform:#{cc.attrs.transform} !important; width: #{cc.attrs.width} !important;"
						 label="#{cc.attrs.label}" 
						 value="#{cc.attrs.value}"
						 disabled="#{cc.attrs.disabled}"
						 required="#{cc.attrs.required}" 
						 maxlength="#{cc.attrs.maxleght}"
						 mask="#{cc.attrs.mask}"
						 type="#{cc.attrs.type}"
						 immediate="#{cc.attrs.immediate}"
						 requiredMessage="#{cc.attrs.label}: Required."
						 placeholder="#{cc.attrs.placeholder}" 
						 rendered="#{cc.attrs.rendered}" />
						 
			<div class="input-group-btn" id="botao">
				
				<p:commandButton title="#{cc.attrs.title}"
								 style="width: #{cc.attrs.width1}" icon="#{cc.attrs.icon}"
								 styleClass="btn btn-default" value="#{cc.attrs.value1}" update="#{cc.attrs.update1}" process="#{cc.attrs.process1}"
								 action="#{cc.attrs.actionTeste}"/>
								 
				<p:commandButton title="#{cc.attrs.title2}" rendered="#{cc.attrs.rendered2}"
								 style="width: #{cc.attrs.width2}" icon="#{cc.attrs.icon2}"
								 styleClass="btn btn-default" value="#{cc.attrs.value2}" update="#{cc.attrs.update2}" process="#{cc.attrs.process2}"/>
			</div>
			
		</div>
		
	</div>
			
</composite:implementation>

</html>
