<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
    <composite:attribute name="label" />
    <composite:attribute name="value" />
    <composite:attribute name="size" default="15" />
    <composite:attribute name="required" default="false" />
    <composite:attribute name="disabled" default="false" />
    <composite:attribute name="textalign" default="right" />
    <composite:attribute name="rendered" default="true" />
    <composite:attribute name="decimalSeparator" default="," />
    <composite:attribute name="thousandSeparator" default="." />
    <composite:attribute name="decimalPlaces" default="2" />
    <composite:attribute name="textalign" default="right" />
    <composite:attribute name="tamanhoTotal" default="12"/>
	<composite:attribute name="tamanho" default="10"/>
	<composite:attribute name="tamanhoLabel"/>
    <composite:attribute name="converter" />
    <composite:attribute name="sufix" />
    <composite:attribute name="prefix" />
    <composite:attribute name="maxValue" />
    <composite:attribute name="minValue" default="0"/>
    <composite:attribute name="emptyValue" />
    <composite:attribute name="immediate" default="false"/>
    <composite:attribute name="styleClass" />
    <composite:attribute name="maxlength" />

    <composite:clientBehavior name="blur" event="blur" targets="field"/>
    <composite:clientBehavior name="keyup" event= "keyup" targets = "field"/>
</composite:interface>

<composite:implementation>
<div style="width:#{cc.attrs.width}">
       <p:outputLabel value="#{cc.attrs.label}" for="field" style="width:#{cc.attrs.width}"/>	

        <pe:inputNumber id="field" value="#{cc.attrs.value}"
                        label="#{cc.attrs.label}"
                        decimalSeparator="#{cc.attrs.decimalSeparator}"
                        thousandSeparator="#{cc.attrs.thousandSeparator}"
                        decimalPlaces="#{cc.attrs.decimalPlaces}"
                        converter="#{cc.attrs.converter}"
                        symbol="#{cc.attrs.sufix}#{cc.attrs.prefix}" 
                        symbolPosition="#{not empty cc.attrs.prefix ? 'p' : 's'}"
                        style="text-align:#{cc.attrs.textalign}; width:100% !important;"
                        required="#{cc.attrs.required}"
                        immediate="#{cc.attrs.immediate}" 
                        rendered="#{cc.attrs.rendered}"
                        disabled="#{cc.attrs.disabled}" 
                        minValue="#{cc.attrs.minValue}"
                        emptyValue="#{cc.attrs.emptyValue}" 
                        maxValue="#{cc.attrs.maxValue}"
                        maxlength="#{cc.attrs.maxlength}"
                        requiredMessage="#{cc.attrs.label}: Required."
                        styleClass="#{cc.attrs.styleClass}">
        </pe:inputNumber>
</div>

</composite:implementation>

</html>
