<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml"
	xmlns:campo="http://java.sun.com/jsf/composite/components/campo">


	<ui:define name="title">Perfil</ui:define>

	<ui:define name="content">
		<div class="span-10">
			<h:form id="form" styleClass="form-horizontal" onkeypress="if (event.keyCode == 13) return false;">
				<p:growl id="msgs" showDetail="true" />
				
				<div class="row">
					<div class="col-md-12">
						<p:panel header="PERFIL DETAILS" style="border: none !important;">
							<div class="row">
								<div class="col-md-12">
									<campo:checkbox label="Activate?" value="#{perfil.ativado}" disabled="#{isConsultar}" marginTopo="20px" />
								</div>
							</div>

							<div class="row" style="padding-bottom: 20px">
								<div class="col-md-6">
									<campo:simples label="Description" value="#{perfil.descricao}" disabled="#{isConsultar}" required="true" />
								</div>
								
								<div class="col-md-6" style="padding-top: 20px"> 
									<p:commandButton value="Replicate" action="replicar" immediate="false" disabled="#{isNovoRegistro or isConsultar}"
													 style="width:100px" process="@form" update="@form" icon="imagemadicionar" />
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p:tabView id="tbv">

										<p:ajax event="tabChange" listener="#{perfilService.onTabChange}" update=":form" process=":form" />

										<p:tab title="Associated Privileges">
											<p:dataTable id="grdPrivilegios" value="#{privilegios}"
												var="perfilPrivilegio" rows="30"
												rowsPerPageTemplate="10,20,30" paginator="true"
												paginatorPosition="bottom" scrollHeight="150"
												sortBy="#{perfilPrivilegio.privilegio.ordem}"
												emptyMessage="Nenhum registro encontrado">

												<p:column headerText="Privilege Father" style="width:120px">
													<p:commandLink action="marcarFilhosDoPai" process="@this"
														update=":form:tbv:grdPrivilegios" disabled="#{isConsultar}"
														value="#{perfilPrivilegio.privilegio.descricao}"
														rendered="#{empty perfilPrivilegio.privilegio.privilegioPai}" />
												</p:column>

												<p:column headerText="Privilege">
													<p:commandLink action="marcarPrivilegios" process="@this"
														update=":form:tbv:grdPrivilegios" disabled="#{isConsultar}"
														value="#{perfilPrivilegio.privilegio.descricao}"
														rendered="#{not empty perfilPrivilegio.privilegio.privilegioPai}" />
												</p:column>

												<p:column headerText="Print"
													style="text-align: center; width: 90px">
													<p:selectBooleanCheckbox disabled="#{isConsultar}"
														value="#{perfilPrivilegio.imprimir}" />
												</p:column>

												<p:column headerText="Consult"
													style="text-align: center; width: 90px">
													<p:selectBooleanCheckbox disabled="#{isConsultar}"
														value="#{perfilPrivilegio.consultar}" />
												</p:column>

												<p:column headerText="Include"
													style="text-align: center; width: 90px">
													<p:selectBooleanCheckbox disabled="#{isConsultar}"
														value="#{perfilPrivilegio.incluir}" />
												</p:column>

												<p:column headerText="Edit"
													style="text-align: center; width: 90px">
													<p:selectBooleanCheckbox disabled="#{isConsultar}"
														value="#{perfilPrivilegio.alterar}" />
												</p:column>

												<p:column headerText="Remove"
													style="text-align: center; width: 90px">
													<p:selectBooleanCheckbox disabled="#{isConsultar}"
														value="#{perfilPrivilegio.remover}" />
												</p:column>
												
<!-- 													<p:column headerText="Export/Import" -->
<!-- 														style="text-align: center; width: 90px"> -->
<!-- 														<p:selectBooleanCheckbox disabled="#{isConsultar}" -->
<!-- 															value="#{perfilPrivilegio.coletor}" /> -->
<!-- 													</p:column> -->
											</p:dataTable>

										</p:tab>

										<p:tab title="Users" id="tbUser">

											<div class="row">
												<div class="col-md-12">

													<p:dataTable id="tblUsuarios" value="#{usuarios}"
														var="user" paginator="true" rows="5"
														rowsPerPageTemplate="5,10,15"
														paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
														emptyMessage="Nenhum registro encontrado"
														paginatorPosition="bottom"
														currentPageReportTemplate="Página {currentPage} de {totalPages} || {startRecord} - {endRecord} de {totalRecords}">


														<f:facet name="header">
															<p:outputPanel id="formUsuario" style="border:0">

																<div class="row">
																	<div class="col-md-12">
																		<div class="col-md-10">
																			<campo:combo label="Usuário" id="cbbUsuario"
																				value="#{usuario}" disabled="#{isConsultar}"
																				converter="#{usuarioConverterById}"
																				lista="#{usuarioService.listarDisponiveis(perfil.id)}"
																				required="false">
																				<p:ajax event="change" process="@this" />
																			</campo:combo>
																		</div>
																		<div class="col-md-2" style="padding-top: 20px">
																			
																			<p:commandButton value="Adicionar"
																				action="adicionarUsuario" process="@this"
																				update="@form" icon="imagemadicionar" disabled="#{isConsultar}" />
																		</div>
																	</div>
																</div>
															</p:outputPanel>
														</f:facet>


														<p:column headerText="Nome">
															<h:outputText value="#{user.nmUsuario}" />
														</p:column>

														<p:column headerText="Login">
															<h:outputText value="#{user.login}" />
														</p:column>

														<p:column style="width:50px">
															<p:commandButton action="removerUsuario" process="@this" disabled="#{isConsultar}"
																update="@form" icon="imagemexcluir" title="Excluir"
																rendered="#{not empty user}" style="height: 22px">

																<p:confirm header="Confirmação"
																	message="Tem certeza que deseja remover este usuário ?"
																	icon="ui-icon-alert" />

															</p:commandButton>

															<p:confirmDialog global="true" showEffect="fade"
																hideEffect="explode">

																<p:spacer width="100" height="10" />

																<p:commandButton value="Sim" type="button"
																	styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />

																<p:commandButton value="Não" type="button"
																	styleClass="ui-confirmdialog-no" icon="ui-icon-close" />

															</p:confirmDialog>
														</p:column>

													</p:dataTable>
												</div>
											</div>
										</p:tab>

									</p:tabView>
								</div>

							</div>


							<div class="row" style="margin-top: 10px" align="center">
								<p:commandButton id="buttonSalvar" value="Save"
									action="salvar" immediate="false"
									disabled="#{!perfilService.permissaoSalvar}"
									style="width:100px" process="@form" update="@form"
									icon="imagemsalvar" />

								<p:spacer width="10" />

								<p:commandButton value="Cancel" action="cancelar"
									style="width:100px" immediate="true" icon="imagemvoltar" />
								</div>
						</p:panel>
					</div>
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>