<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Perfil</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" showSummary="false"/>				
		
		<div class="row">
			<div class="col-md-12">
				<p:panel header="PERFIL" style="border: none !important;">
					<div class="row" style="margin-top: 15px">	
						<div class="col-md-1">
							<campo:valor decimalPlaces="0" thousandSeparator="" value="#{criteria.codigo}" label="Code">
								<p:ajax event="blur" process="@this" update=":form:paneltbl" />
							</campo:valor>
						</div>
						
						<div class="col-md-5">															 
							<campo:simples value="#{criteria.descricao}" label="Description">
								<p:ajax event="blur" process="@this" update=":form:paneltbl" />
							</campo:simples>
						</div>
						
						<div class="col-md-3" style="padding-top: 20px">
							<p:selectOneButton label="Active?" value="#{criteria.ativo}">
					            <f:selectItem itemLabel="Active" itemValue="true"/>
					            <f:selectItem itemLabel="Inactive" itemValue="false"/>
					            <f:selectItem itemLabel="All" itemValue="#{criteria.setAtivo(null)}"/>
					            
					            <p:ajax event="change" process="@this" update=":form:tbl" />
					        </p:selectOneButton>
						</div>
							
						<div class="col-md-3" style="padding-top: 20px">
							<p:toolbarGroup align="left">
							 	<p:commandButton  icon="imagemfiltrar" title="Search" value="Search" style="width:100px">
									<p:ajax event="click" process="@this" update=":form:msgs :form:paneltbl"/>
								</p:commandButton>
								
								<p:commandButton icon="imagemlimpar" title="Clean" value="Clean" action="limpar" style="width:100px">
									<p:ajax event="click" process="@this" update=":form:msgs :form:paneltbl"/>
								</p:commandButton>
							 </p:toolbarGroup>
						</div>	
					</div>	
					
					<p:spacer/>
					
					<div class="row">	
						<div class="col-md-12">							
							<h:panelGroup id="paneltbl">
							
							<p:dataTable id="tbl" var="item" paginator="true" rows="5"
										value="#{criteria}" scrollable="true"
										scrollHeight="200" rowsPerPageTemplate="5,10,15,20,30,50"
										lazy="true" selection="#{criteria.perfil}"
										styleClass="tabelaMobile"
										paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
										emptyMessage="There are no records"
										paginatorPosition="bottom" selectionMode="single"
										sortOrder="DESCENDING" resizableColumns="true"
										rowKey="#{item.id}" sortBy="#{item.id}"
										currentPageReportTemplate="Page {currentPage} of {totalPages} || {startRecord} - {endRecord} of {totalRecords}">
										
										<p:ajax event="rowSelect" process="@this" update=":form:msgs :form:paneltbl"
												listener="#{criteria.someListenerSelecionarPerfil}"/>
								
<!-- 									id="tbl" value="#{criteria}" var="item" -->
<!-- 									reflow="true" paginator="true" rows="5" scrollable="true" -->
<!-- 									scrollHeight="200" rowsPerPageTemplate="5,10,15,20,30,50" -->
<!-- 									lazy="true" styleClass="tabelaMobile" -->
<!-- 									paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" -->
<!-- 									emptyMessage="Nenhum registro encontrado" paginatorPosition="bottom"  -->
<!-- 									selection="#{criteria.perfil}" rowKey="#{item.id}" sortBy="#{item.id}" -->
<!-- 									sortOrder="DESCENDING" resizableColumns="true" -->
<!-- 									currentPageReportTemplate="Página {currentPage} de {totalPages} || {startRecord} - {endRecord} de {totalRecords}" -->
												
					            <p:column headerText="Code" style="text-align: left; width: 80px" sortBy="#{item.id}">
						            <h:outputText value="#{item.id}" style="white-space:nowrap !important;"/>		            	
						        </p:column>	
						        				
								<p:column headerText="Description" sortBy="#{item.descricao}">
						            <h:outputText value="#{item.descricao}" style="white-space:nowrap !important;"/>		            	
						        </p:column>	
						        	
								<p:column headerText="Activate?" style="text-align: center; width: 80px" sortBy="#{item.ativado}">
						            <h:outputText value="#{item.ativado eq true?'YES':'NOT'}" style="white-space:nowrap !important;"/>
						        </p:column>	
						        
						        <p:column style="width: 150px" >
						        	<p:commandButton id="buttonConsultar" action="consultar" update="@form" immediate="true" icon="imagemfiltrar"
													 title="Consult" disabled="#{!request.isUserInRole('ROLE_CAD_PERFIL_CONSULTAR')}">
										<f:setPropertyActionListener target="#{criteria.selected}" value="#{item}"/>
									</p:commandButton>
									
					 			    <p:commandButton action="editar" id="iconEditar" update="@form" icon="imagemeditar" title="Edit" 
					 			    				 disabled="#{!request.isUserInRole('ROLE_CAD_PERFIL_ALTERAR')}">
					 			    	<f:setPropertyActionListener target="#{criteria.selected}" value="#{item}"/>
					 			    </p:commandButton>
		
								    <p:commandButton action="remover" update="@form" icon="imagemexcluir" title="Delete"
								    				 disabled="#{!request.isUserInRole('ROLE_CAD_PERFIL_REMOVER')}">
								        <p:confirm header="Confirmação" message="Tem certeza que deseja remover este usuário ?" icon="ui-icon-alert" />
								        <f:setPropertyActionListener target="#{criteria.selected}" value="#{item}"/>
								    </p:commandButton>
								 
								    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
								        <p:spacer width="100" height="10" />
								        <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
								        <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
								    </p:confirmDialog>
								</p:column>	
							</p:dataTable>
							</h:panelGroup>
							
							<p:spacer height="10"/>
							
							<div class="row" align="center">
								<p:commandButton id="buttonNovo" action="novo" value="New" style="width:100px" 
												 title="Criar novo registro" icon="imagemadicionar" process="@this"
												 update="@form" disabled="#{!request.isUserInRole('ROLE_CAD_PERFIL_INCLUIR')}"/>

								<p:spacer width="10" />

								<p:commandButton id="buttonVoltar" action="voltarhome" value="Home" style="width:100px" 
												 title="Voltar ao menu principal" icon="iconehome" />
							</div>
						</div>
					</div>
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>