<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Employee Holiday</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" showSummary="false" life="2000"/>
		<div class="row">	
			<div class="col-md-12" style="border: none !important;">
				<p:panel header="EMPLOYEE HOLIDAY DETAILS" style="border: none !important;">
					<p:fieldset id="plCadastro" style="border: none !important;">
						<div class="row">
							<div class="col-md-12">
								<campo:calendario value="#{employeeHolidayService.employeeHoliday.requisitionDate}" pattern="dd/MM/yyyy" 
											  	  label="Requisition Date" desativado="true"/>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">
								<campo:autocomplete label="Holiday Category" value="#{employeeHolidayService.holidayCategory}" converter="#{holidayCategoryConverterById}"
													completeMethod="#{employeeHolidayService.completeHolidayCategory}" actionClean="#{employeeHolidayService.setHCDisabledControl(null)}"
													updateClean=":form" required="true" disabled="#{employeeHolidayService.disabledHC}">
									<p:ajax event="change" process="@this" update=":form" listener="#{employeeHolidayService.disabledControl(true)}"/>
									<p:ajax event="itemSelect" process="@this" update=":form" listener="#{employeeHolidayService.disabledControl(true)}"/>
								</campo:autocomplete>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-8" style="padding-top:3px !important">
										<campo:autocomplete label="Employee" value="#{employeeHolidayService.employee}" converter="#{employeeConverterById}"
															completeMethod="#{employeeHolidayService.completeEmployee}" actionClean="#{employeeHolidayService.setEmployeeDisabledControl(null)}"
															updateClean=":form" required="true" disabled="#{employeeHolidayService.disabledEmployee}">
											<p:ajax event="change" process="@this" update=":form" listener="#{employeeHolidayService.getBalance(true)}"/>
											<p:ajax event="itemSelect" process="@this" update=":form" listener="#{employeeHolidayService.getBalance(true)}"/>
										</campo:autocomplete>
									</div>
									
									<div class="col-md-4" style="padding-top: 3px !important">
										<campo:simples disabled="true" value="#{employeeHolidayService.employeeHoliday.getBalanceString()}" label="Balance"/>
									</div>	
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-5">
										<p:outputLabel for="calStDt" value="Start Date"/>
										<p:calendar  id="calStDt" value="#{employeeHolidayService.employeeHoliday.startDate}" required="true" 
													 disabled="#{employeeHolidayService.disabledStartDate}" pattern="dd/MM/yyyy">
											
											<p:ajax event="dateSelect" process="@this" update=":form" listener="#{employeeHolidayService.validatePeriod(employeeHolidayService.employeeHoliday)}"
													onstart="PF('myBlockUI').show()" oncomplete="PF('myBlockUI').hide()"/>			 
										</p:calendar>
									</div>
									
									<div class="col-md-5">
										<p:outputLabel for="campoTest" value="End Date"/>
										<p:calendar  id="campoTest" value="#{employeeHolidayService.employeeHoliday.endDate}" required="true" 
													 disabled="#{employeeHolidayService.disabledEndDate}" pattern="dd/MM/yyyy">
											
											<p:ajax event="dateSelect" process="@this" update=":form" listener="#{employeeHolidayService.validatePeriod(employeeHolidayService.employeeHoliday)}"
													onstart="PF('myBlockUI').show()" oncomplete="PF('myBlockUI').hide()"/>			 
										</p:calendar>
										
										<p:blockUI block="dataTable" widgetVar="myBlockUI">
									        <p:graphicImage library="images" name="loading_transparent.gif"/>
									    </p:blockUI>
									</div>
									
									<div class="col-md-2" style="padding-top: 3px !important">
										<campo:simples disabled="true" value="#{employeeHolidayService.employeeHoliday.dayCounted}" label="Days"
													   rendered="#{employeeHolidayService.disabledDaysHours}"/>
													   
										<campo:simples disabled="true" value="#{employeeHolidayService.employeeHoliday.hourCounted}" label="Hours"
													   rendered="#{!employeeHolidayService.disabledDaysHours}"/>
									</div>	
								</div>
							</div>
						</div>
						
						<div class="row" style="margin-top: 3px">
							<div class="col-md-12">
								<p:dataTable id="dataTable" var="item" value="#{employeeHolidayService.listHolidayDay}" scrollable="true" scrollHeight="120"> 
								    <p:column headerText="Status" style="width:60px; text-align:center">
								    	<h:graphicImage library="images" name="ellipsis.png" title="Many Departments (See details)"
								    					rendered="#{employeeHolidayService.getImageStatus(item.status, 5)}"/>
				    					
				    					<h:graphicImage library="images" name="circle_green.png" title="No slot booked"
								    					rendered="#{employeeHolidayService.getImageStatus(item.status, 0)}"/>
								    	
								    	<h:graphicImage library="images" name="circle_orange.png" title="Some booked slots"
								    					rendered="#{employeeHolidayService.getImageStatus(item.status, 1)}"/>
										
										<h:graphicImage library="images" name="circle_red.png" title="Slots fully booked"
								    					rendered="#{employeeHolidayService.getImageStatus(item.status, 2)}"/>
								    					
				    					<h:graphicImage library="images" name="circle_grey.png" title="Not counted"
								    					rendered="#{employeeHolidayService.getImageStatus(item.status, 3)}"/>	
								    					
				    					<h:graphicImage library="images" name="circle_grey.png" title="Day Off"
								    					rendered="#{employeeHolidayService.getImageStatus(item.status, 4)}"/>	
								    														    					
				    					<h:graphicImage library="images" name="circle_grey.png" title="Bank Holiday"
								    					rendered="#{employeeHolidayService.getImageStatus(item.status, 6)}"/>	
								    														    					
								    </p:column>
								    
								    <p:column headerText="Date">
								        <h:outputText value="#{item.day}">
						             		<f:convertDateTime pattern="dd/MM/yyyy" />
								        </h:outputText>
								    </p:column>
								 
								    <p:column headerText="#{employeeHolidayService.disabledDaysHours == true ? 'Day' : 'Hours' }">
								        <h:outputText value="#{employeeHolidayService.StringDayHour(item)}" />
								    </p:column>
								 
								    <p:column headerText="Description">
								        <h:outputText value="#{employeeHolidayService.StringDescription(item)}"/>  
								    </p:column>
								    
								    <p:column headerText="Day Off" style="text-align: center; width: 90px">
								    	<p:inputSwitch rendered="#{employeeHolidayService.renderedSetDayOff(item.status)}" disabled="#{employeeHolidayService.disabledSetDayOff}" value="#{item.count}" offLabel="Yes" onLabel="No">
								    		<p:ajax event="change" process="@this" update=":form" listener="#{employeeHolidayService.setDayOff(item)}"/>
								    	</p:inputSwitch>
								    </p:column>
								</p:dataTable>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">
								<campo:textAreaIntegra value="#{employeeHolidayService.employeeHoliday.reason}" label="Reason" 
													   desativado="#{!employeeHolidayService.permissaoSalvar}" required="true"/>
							</div>
						</div>
						
						<div class="row">
							<p:separator/>
						</div>
						
						<div class="row" style="border-radius: 5px !important; border-style: outset !important;; padding-top: 15px !important; padding-bottom: 15px !important">
							<div class="col-md-2" style="display: grid; padding-top: 10px">
								<p:outputLabel for="manager" value="Manager Permission"/>
								<p:selectOneButton id="manager" value="#{employeeHolidayService.employeeHoliday.managerPermit}">
						            <f:selectItem itemLabel="Yes" itemValue="true"/>
						            <f:selectItem itemLabel="Not" itemValue="false"/>
						            
						            <p:ajax event="change" process="@this" update=":form"/>
						        </p:selectOneButton>
							</div>
											
							<div class="col-md-6" style="padding-top: 3px">
								<campo:autocomplete label="Manager" value="#{employeeHolidayService.manager}" converter="#{employeeConverterById}"
													completeMethod="#{employeeHolidayService.completeManager}" actionClean="#{employeeHolidayService.setManager(null)}"
													updateClean=":form" required="#{employeeHolidayService.requiredManagerAC()}" disabled="#{!employeeHolidayService.permissaoSalvar}">
									<p:ajax event="change" process="@this" />
									<p:ajax event="itemSelect" process="@this" />
								</campo:autocomplete>
							</div>
							
							<div class="col-md-2" style="padding-bottom: 5px">
								<campo:calendario value="#{employeeHolidayService.employeeHoliday.managerPermissionDate}" pattern="dd/MM/yyyy" 
												  label="Date of Permission" desativado="true"/>
							</div>
						</div>
						
						<div class="row" style="border-radius: 5px !important; border-style: outset !important; margin-top: 5px; padding-top: 15px !important; padding-bottom: 15px !important">
							<div class="col-md-2" style="display: grid; padding-top: 10px">
								<p:outputLabel for="hrmanager" value="HR Permission" />
								<p:selectOneButton id="hrmanager" value="#{employeeHolidayService.employeeHoliday.hrPermit}">
						            <f:selectItem itemLabel="Yes" itemValue="true"/>
						            <f:selectItem itemLabel="Not" itemValue="false"/>
						            
						            <p:ajax event="change" process="@this" update=":form"/>
						        </p:selectOneButton>
							</div>
							
							<div class="col-md-6" style="padding-top: 3px">
								<campo:autocomplete label="HR Manager" value="#{employeeHolidayService.hrManager}" converter="#{employeeConverterById}" backcolor="rgb(186,203,228)"
													completeMethod="#{employeeHolidayService.completeHrManager}" actionClean="#{employeeHolidayService.setHrManager(null)}"
													updateClean=":form" required="#{employeeHolidayService.requiredHrManagerAC()}" disabled="#{!employeeHolidayService.permissaoSalvar}">
									<p:ajax event="change" process="@this" />
									<p:ajax event="itemSelect" process="@this" />
								</campo:autocomplete>
							</div>
							
							<div class="col-md-2" style="padding-bottom: 5px">
								<campo:calendario value="#{employeeHolidayService.employeeHoliday.hrPermissionDate}" pattern="dd/MM/yyyy" 
												  label="Date of Permission" desativado="true"/>
							</div>
						</div>
						
						<div class="row" align="center" style="margin-top: 10px;  margin-left: 2px">
							<div class="col-md-12">
								<p:commandButton value="Back" action="cancelar" style="width:100px" immediate="true" icon="imagemvoltar"/>

								<p:spacer width="10"/>
								
								<p:commandButton id="buttonSalvar" value="Save" action="salvar" immediate="false" 
												 disabled="#{!employeeHolidayService.permissaoSalvar or !request.isUserInRole('ROLE_CAD_EMPLOYEE_HOLIDAY_INCLUIR')}"
												 style="width:100px" process="@form" update="@form" icon="imagemsalvar"/>										 	
							</div>
						</div>		
					</p:fieldset>	
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>