<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Holiday Form</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true"/>
			
		<div class="row" >
			<div class="col-md-12">
				<p:panel header="BOOKING HOLIDAY" style="border: none !important;">
					<div class="row" align="center" style="margin-top: 10px;  margin-left: 2px">
						<div class="col-md-12">
							<p:commandButton id="buttonSalvar" value="Print" immediate="true" 
											 oncomplete="window.open('rep_holiday_form/#{flowExecutionContext.key}/,'_blank')"
											 style="width:100px" process="@form" update="@form" icon="imagemsalvar"/>
						</div>
					</div>			
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>