<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Role</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true" showSummary="false" life="2000"/>
		<div class="row">	
			<div class="col-md-12" style="border: none !important;">
				<p:panel header="ROLE DETAILS" style="border: none !important;">
					<p:fieldset id="plCadastro" style="border: none !important;">
						<div class="row">
							<div class="col-md-4"/>
							
							<div class="col-md-4">
								<p:outputLabel for="pwd1" value="New Password" style="width: 100%"/>
						        <p:password id="pwd1" value="#{usuarioService.usuario.senha}" match="pwd2"
								        	toggleMask="true" redisplay="true" feedback="true" 
							          	    weakLabel="Weak" goodLabel="Good" strongLabel="Strong" 
								        	required="true" style="width: 100% !important" 
								        	validatorMessage="Password should match with Confirm Password."
								        	requiredMessage="Password: Required.">
						        	<p:ajax event="blur" process="@this" />	    
						        </p:password>
							</div>
							
							<div class="col-md-4"/>
						</div>
						
						<div class="row">
							<div class="col-md-4"/>
							
							<div class="col-md-4">
								<p:outputLabel for="pwd2" value="Confirm Password" style="width: 100%"/>
								         			   
						        <p:password id="pwd2" value="#{usuarioService.usuario.senhaNova}" 
								        	required="true" feedback="true" 
								            weakLabel="Weak" goodLabel="Good" strongLabel="Strong"
								        	style="width: 100% !important"
								        	validatorMessage="Password should match with Confirm Password."
								        	requiredMessage="Confirm Password: Required.">
						        	<p:ajax event="blur" process="@this" />
						        </p:password>
							</div>
							
							<div class="col-md-4"/>
						</div>
						
						<div class="row" align="center" style="margin-top: 10px;  margin-left: 2px">
							<div class="col-md-12">
								<p:commandButton id="buttonSalvar" value="Save" action="salvar" immediate="false" 
										 disabled="false"
										 style="width:100px" process="@form" update="@form" icon="imagemsalvar"/>
										 
								<p:spacer width="10"/>
								
								<p:commandButton value="Home" action="voltarhome" style="width:100px" immediate="true" icon="iconehome"/>										 	
							</div>
						</div>		
					</p:fieldset>	
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>