<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">Change Password</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true"/>
			
		<div class="row" >
			<div class="col-md-12">
				<p:panel header="CHANGE PASSWORD" style="border: none !important;">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4"/>
								
								<div class="col-md-4">															 
									<p:outputLabel for="pwd1" value="Current Password" style="width: 100%"/>
								        			   
							        <p:password id="pwd1" value="#{usuarioService.senha}" toggleMask="true" 
	 								        	required="true" style="width: 100% !important" requiredMessage="Password: Required.">
							        	<p:ajax event="blur" process="@this" />	    
							        </p:password>
								</div>
								
								<div class="col-md-4"/>
							</div>
						</div>
						
						<p:spacer height="5px"/>
						
						<div class="row" style="margin-top: 15px">
							<div class="col-md-12" >
								<p:spacer height="10"/>
								
								<div class="row" align="center">
									<p:commandButton id="buttonNovo" action="next" value="Next" style="width:100px" icon="imagemadicionar" 
													process="@this" update="@form" disabled="#{!request.isUserInRole('ROLE_CHANGE_PASSWORD_INCLUIR')}"/>
													
									<p:spacer height="10"/>				

									<p:commandButton id="buttonVoltar" action="voltarhome" value="Home" style="width:100px" icon="iconehome" />
								</div>
								
							</div>
						</div>
					</div>
				</p:panel>
			</div>
		</div>
	</h:form>
</div>
</ui:define>
</ui:composition>