<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"				
	  			xmlns:f="http://java.sun.com/jsf/core"
	  			xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/template.xhtml"
	  			xmlns:campo="http://java.sun.com/jsf/composite/components/campo">
			

<ui:define name="title">User</ui:define>

<ui:define name="content">
<div class="span-10">
	<h:form id="form" onkeypress="if (event.keyCode == 13) return false;">
		<p:growl id="msgs" showDetail="true"/>
			
		<div class="row" >
			<div class="col-md-12">
				<p:panel header="USER" style="border: none !important;">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-2">															 
									<campo:valor decimalPlaces="0" thousandSeparator="" value="#{criteria.code}" label="Code">
										<p:ajax event="blur" process="@this" update=":form:paneltbl" />
									</campo:valor>
								</div>
							
								<div class="col-md-6">															 
									<campo:simples value="#{criteria.descricao}" label="Name">
										<p:ajax event="blur" process="@this" update=":form:paneltbl" />
									</campo:simples>
								</div>
								
								<div class="col-md-4" style="padding-top: 20px">
									<p:selectOneButton label="Active?" value="#{criteria.ativo}">
							            <f:selectItem itemLabel="Active" itemValue="true"/>
							            <f:selectItem itemLabel="Inactive" itemValue="false"/>
							            <f:selectItem itemLabel="All" itemValue="#{criteria.setAtivo(null)}"/>
							            
							            <p:ajax event="change" process="@this" update=":form:tbl" />
							        </p:selectOneButton>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4">															 
									<campo:simples label="Username" value="#{criteria.login}" width="100%">
										<p:ajax event="blur" process="@this" update=":form:paneltbl"/>
									</campo:simples>
								</div>
								<div class="col-md-4" style="padding-bottom: 15px">												
									<campo:simples label="Email" value="#{criteria.email}" width="100%">
										<p:ajax event="blur" process="@this" update=":form:paneltbl"/>
									</campo:simples>
								</div>
								<div class="col-md-4" style="padding-top: 18px">
									 <p:toolbarGroup align="left">
									 	<p:commandButton  icon="imagemfiltrar" title="Search" value="Search" style="width:100px">
											<p:ajax event="click" process="@this" update=":form:tbl"/>
										</p:commandButton>
										
										<p:commandButton icon="imagemlimpar" title="Clean" value="Clean" action="limpar" style="width:100px">
											<p:ajax event="click" process="@this" update=":form:tbl"/>
										</p:commandButton>
									 </p:toolbarGroup>
								</div>
							</div>
						</div>
						
						
						<div class="row" style="margin-top: 15px">
							<div class="col-md-12" >
								<h:panelGroup id="paneltbl">	
										<p:dataTable id="tbl" 
													 value="#{criteria}" 
													 var="item" 
													 paginator="true" 
													 rows="5" 
													 scrollable="true"
           									         scrollHeight="#{criteria.getPageSize() > 5 ? 200 : criteria.getPageSize() == 0 ? 40 : criteria.getPageSize() * 40}"
           									         rowsPerPageTemplate="5,10,15,20,30,50"
													 lazy="true"
													 paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
													 emptyMessage="There are no records" 
													 paginatorPosition="bottom" 
													 selectionMode="single"
													 styleClass="tabelaMobile"
													 rowKey="#{item.id}"
													 sortBy="#{item.id}"
													 sortOrder="DESCENDING"
													 resizableColumns="true"
													 currentPageReportTemplate="Page {currentPage} of {totalPages} || {startRecord} - {endRecord} of {totalRecords}">		 
							            	
						            	<p:ajax event="rowSelect" process="@this, tbl" update="tbl"
												listener="#{criteria.someListenerSelecionarUsuario}"/>
												
										<p:column headerText="Code" style="text-align: left; width: 10%" sortBy="#{item.id}">
								             <h:outputText value="#{item.id}" style="white-space:nowrap !important;"/>		            	
								        </p:column>			
												
							            <p:column headerText="Name" style="text-align: left; width: 40%" sortBy="#{item.nmUsuario}">
								             <h:outputText value="#{item.nmUsuario}" style="white-space:nowrap !important;"/>		            	
								        </p:column>	
								        
								        <p:column headerText="Username" style="text-align: left; width: 30%" sortBy="#{item.login}">
								             <h:outputText value="#{item.login}" style="white-space:nowrap !important;"/>			            	
								        </p:column>	
								        
								        <p:column headerText="Email" style="text-align: left; width: 30%" sortBy="#{item.email}">
								             <h:outputText value="#{item.email}" style="white-space:nowrap !important;"/>			            	
								        </p:column>
								        
								        <p:column headerText="Active?" style="text-align: left; width: 30%" sortBy="#{item.boAtivo}">
								             <h:outputText value="#{item.boAtivo ? 'Yes' : 'Not'}" style="white-space:nowrap !important;"/>			            	
								        </p:column>				
														        	
								        <p:column style="width: 150px" >
											<p:growl id="message" showDetail="true" sticky="true" />
							 			    
						 			    	<p:commandButton id="buttonConsultar" action="consultar" update="@form" immediate="true" 
														icon="imagemfiltrar" title="Consult" disabled="#{!request.isUserInRole('ROLE_CAD_USUARIO_CONSULTAR')}">
												<f:setPropertyActionListener value="#{item}" target="#{criteria.selected}" />
											</p:commandButton>
							 			    
							 			    
							 			    <p:commandButton action="editar" disabled="#{!request.isUserInRole('ROLE_CAD_USUARIO_ALTERAR')}"
											 			    id="iconEditar" update="@form" icon="imagemeditar" title="Edit">
							 			    	<f:setPropertyActionListener target="#{criteria.selected}" value="#{item}"/>
							 			    </p:commandButton>
							 			    				 
										    <p:commandButton action="inativar" disabled="#{!request.isUserInRole('ROLE_CAD_USUARIO_REMOVER')}"
										   					 update="message" icon="imagemexcluircampo" title="Inactivate" rendered="#{item.boAtivo}">
										        <p:confirm header="Confirm" message="Are you sure you want to disable this user?" icon="imagemalerta" />
										        <f:setPropertyActionListener target="#{criteria.selected}" value="#{item}"/>
										    </p:commandButton>
										    
										    <p:commandButton action="ativar" disabled="#{!request.isUserInRole('ROLE_CAD_USUARIO_REMOVER')}"
										   					 update="message" icon="imagemgreen" title="Activate" rendered="#{!item.boAtivo}">
										        <p:confirm header="Confirm" message="Are you sure you want to activate this user?" icon="imagemalerta" />
										        <f:setPropertyActionListener target="#{criteria.selected}" value="#{item}"/>
										    </p:commandButton>
										 
										    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
										        <p:spacer width="100" height="10" />
										        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="imagempositive" />
										        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="imagemnegative" />
										    </p:confirmDialog>
										    
										</p:column>	
								       	
									</p:dataTable>
								</h:panelGroup>
								
								<p:spacer height="10"/>
								
								<div class="row" align="center">
									<p:commandButton id="buttonNovo" action="novo" value="New" style="width:100px" icon="imagemadicionar" 
													process="@this" update="@form" disabled="#{!request.isUserInRole('ROLE_CAD_USUARIO_INCLUIR')}"/>
													
									<p:spacer height="10"/>				

									<p:commandButton id="buttonVoltar" action="voltarhome" value="Home" style="width:100px" icon="iconehome" />
								</div>
								
							</div>
						</div>
					</div>
				</p:panel>
			</div>
		</div>
			
	</h:form>
</div>
</ui:define>
</ui:composition>