<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<head>
	    <meta charset="UTF-8"/>
	    <title>HG WALTER</title>
	    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
	    <link href="../resources/styles/rasz/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
	    <link href="../resources/styles/rasz/dist/css/AdminLTE.css" rel="stylesheet" type="text/css" />
	    <link href="../resources/styles/rasz/dist/css/skins/skin-rasz.css" rel="stylesheet" type="text/css" />
	
		<link rel="icon" href="../resources/styles/rasz/dist/img/favicon_white.png" type="image/x-icon" /> 
		<link rel="shortcut icon" href="../resources/styles/rasz/dist/img/favicon_white.png" type="image/x-icon" />  
	
	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
		
</head>
<body class="skin-rasz sidebar-mini">
   

	
	
	 <!-- Main Header -->
      <header class="main-header" style="background-color: #fff !important">
      
        <!-- Logo -->
        <a href="home" class="logo" style="background-color: #fff !important; color: #000 !important">
          <!-- mini logo for sidebar mini 50x50 pixels --> 
          <span class="logo-mini"><img src="../resources/styles/rasz/dist/img/favicon.png"/><b class="logoLogin"></b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><img src="../resources/styles/rasz/dist/img/hg-logo.png"/><b class="logoLogin"></b></span>
          
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation" style="background-color: #fff !important">
         

        </nav>
      </header>
		    
  
       <!-- Main content -->
      <section class="login_session">
      
      	<!-- Your Page Content Here -->
        	<div class="row">
           <div class="col-xs-12">
                <div class="box">
                <div class="box-body">          
         				<ui:insert name="content"/>	
         			</div>
        			</div>
        		</div>
        	</div>

      </section><!-- /.content -->
	                     
	
	 <!-- Bootstrap 3.3.2 JS -->
    <script src="../resources/styles/rasz/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="../resources/styles/rasz/dist/js/app.min.js" type="text/javascript"></script>

</body>
</html>
