<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:campo="http://java.sun.com/jsf/composite/components/campo">

<h:head>
	<meta charset="UTF-8" />
	<title>HG WALTER</title>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
	<link href="../resources/styles/rasz/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
	<link href="../resources/styles/rasz/dist/css/AdminLTE.css" rel="stylesheet" type="text/css" />
	<link href="../resources/styles/rasz/dist/css/skins/skin-rasz.css" rel="stylesheet" type="text/css" />
	<link href="../resources/styles/estilo.css" rel="stylesheet" type="text/css" />
	<link rel="icon" href="../resources/styles/rasz/dist/img/favicon.png" type="image/x-icon" />
	<link rel="shortcut icon" href="../resources/styles/rasz/dist/img/favicon_white.png" type="image/x-icon" />

	<h:outputScript name="calendario_pt_BR.js" library="js" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<script language="JavaScript">
		window.onkeydown = function(event) {
			if (event.which == 8) {
				if (!$(event.target).is("input, textarea")) {
					event.preventDefault();
				}
			}
		}
		
		function start() {
		    PF('statusDialog').show();
		}
		 
		function stop() {
		    PF('statusDialog').hide();
		}
	</script>
</h:head>

<body class="skin-rasz sidebar-mini">
	<div class="wrapper">

		<!-- Main Header -->
		<header class="main-header"> 
			
			<!-- Logo --> 
			<a href="home" class="logo"> 
			
				<!-- mini logo for sidebar mini 50x50 pixels --> 
				<span class="logo-mini"> 
					<img src="../resources/styles/rasz/dist/img/favicon.png" />
				</span> 
				
				<!-- logo for regular state and mobile devices --> 
				<span class="logo-lg"> 
					<img src="../resources/styles/rasz/dist/img/hg-logo.png" />
				</span>
			</a> 
			
			<!-- Header Navbar --> 
			<nav class="navbar navbar-static-top" role="navigation"> 
			
				<!-- Sidebar toggle button--> 
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> 
					<span class="sr-only">Toggle navigation</span>
				</a> 
				
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						
						<!-- Messages: style can be found in dropdown.less-->
		<!-- 				<li class="dropdown messages-menu"> -->
		<!-- 					Menu toggle button <a class="dropdown-toggle" -->
		<!-- 					data-toggle="dropdown"> <i class="fa fa-envelope-o"></i> <span -->
		<!-- 						class="label label-success"> </span> -->
		<!-- 				</a> -->
		<!-- 					<ul class="dropdown-menu"> -->
		<!-- 						<b><li class="header">Notificações.</li></b> -->
		<!-- 						<li> -->
		<!-- 							inner menu: contains the messages -->
		<!-- 							<ul class="menu"> -->
		<!-- 								<li> -->
		<!-- 									start message <a> Message title and timestamp -->
		<!-- 										<ui:remove> -->
		<!-- 											<p:scrollPanel style="width:250px;height:650px"> -->
		<!-- 												<ui:repeat var="n" -->
		<!-- 													value="#{request.userPrincipal.principal.notificacoes}" -->
		<!-- 													varStatus="status"> -->
		<!-- 													<h4 class="control-sidebar-subheading"> -->
		<!-- 														<span class="label label-danger pull-right"> <i -->
		<!-- 															class="fa fa-clock-o"></i> <h:outputLabel -->
		<!-- 																value="#{n.dataNotificacao}"> -->
		<!-- 																<f:convertDateTime locale="pt-BR" timeZone="GMT-02:00" -->
		<!-- 																	dateStyle="long" pattern="dd/MM/yyyy HH:mm" /> -->
		<!-- 															</h:outputLabel> -->
		<!-- 														</span> -->
		<!-- 														The message -->
		<!-- 														<br /> -->
		<!-- 														<p:inputTextarea rows="15" cols="50" -->
		<!-- 															value="#{n.descricaoNotificacao}" disabled="true" /> -->
		<!-- 													</h4> -->
		<!-- 												</ui:repeat> -->
		<!-- 											</p:scrollPanel> -->
		<!-- 										</ui:remove> -->
		<!-- 								</a> -->
		<!-- 								</li> -->
		<!-- 								end message -->
		<!-- 							</ul> /.menu -->
		<!-- 						</li> -->
		<!-- 						<li class="footer"><a>Todas as notificações</a></li> -->
		<!-- 					</ul> -->
		<!-- 				</li> -->
						<!-- /.messages-menu -->
		
		
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button --> 
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <!-- The user image in the navbar--> 
								<img src="../resources/styles/rasz/dist/img/logout.png" class="user-image" alt="User Image" /> <!-- hidden-xs hides the username on small devices so only the image appears. -->
		<!-- 					<span class="hidden-xs">#{request.userPrincipal.principal.login}</span> -->
							</a>
							
							<ul class="dropdown-menu">
							
								<!-- The user image in the menu -->
								<li class="user-header">
									<img src="../resources/styles/rasz/dist/img/user.png" class="img-circle" alt="User Image" />
									<p style="color: #182537"> #{request.userPrincipal.principal.nmUsuario} 
										<small>#{request.userPrincipal.principal.perfil.nome}</small>
									</p>
								</li>
								
								<!-- Menu Footer-->
								<li class="user-footer">
									<div>
										<a style="width: 100%; background-color: #a18f5d; color: #fff" href="logout" class="btn btn-default btn-flat">Sair</a>
									</div>
								</li>
							</ul>
						</li>
						<!-- Control Sidebar Toggle Button -->
						<!--               <li> -->
						<!--                 <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a> -->
						<!--               </li> -->
					</ul>
				</div>
			</nav> 
		</header>
		
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar"> 
		
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar"> 
			
				<!-- Sidebar user panel (optional) -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="../resources/styles/rasz/dist/img/user_white.png" class="img-circle" alt="User Image" />
					</div>
					
					<div class="pull-left info">
						<p>#{request.userPrincipal.principal.nmUsuario}</p>
						
						<!-- Status -->
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
	
				<!-- Sidebar Menu -->
				<ul class="sidebar-menu">
					<li class="header">MENU</li>
					<!-- Optionally, you can add icons to the links -->
					
					<li>
						<ui:fragment rendered="#{request.isUserInRole('ROLE_HOLIDAY')}">
							<a href="#">
								<i class='fa fa-calendar-o'></i> <span>Holiday</span> 
								<i class="fa fa-angle-left pull-right"></i>
							</a>
							
							<ul class="treeview-menu">
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_BOOKING_HOLIDAY')}">
									<li><a href="cad_booking_holiday">Booking Holiday</a></li>
								</ui:fragment>
								
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_MY_HOLIDAY')}">
									<li><a href="cad_my_holiday">My Holidays</a></li>
								</ui:fragment>
							</ul>
						</ui:fragment>
					</li>
					
					<li>
						<ui:fragment rendered="#{request.isUserInRole('ROLE_MANAGEMENT')}">
							<a href="#">
								<i class='fa fa-user'></i> <span>Management</span> 
								<i class="fa fa-angle-left pull-right"></i>
							</a>
							
							<ul class="treeview-menu">
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_EMPLOYEE_HOLIDAY')}">
									<li><a href="cad_employee_holiday">Employee Holiday</a></li>
								</ui:fragment>
								
								<ui:fragment rendered="#{request.isUserInRole('ROLE_HOLIDAY_PERMISSION')}">
									<li><a href="cad_holiday_permission">Holiday Permission</a></li>
								</ui:fragment>
							</ul>
						</ui:fragment>
					</li>
					
					<li class="treeview">
						<ui:fragment rendered="#{request.isUserInRole('ROLE_CADASTRO')}">
							<a href="#">
								<i class='fa fa-edit'></i> <span>Registrations</span> 
								<i class="fa fa-angle-left pull-right"></i>
							</a>
							
							<ul class="treeview-menu">
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_ALLOWANCE')}">
									<li><a href="cad_allowance">Allowance</a></li>
								</ui:fragment>
								
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_CONTRACT')}">
									<li><a href="cad_contract">Contract</a></li>
								</ui:fragment>
								
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_DEPARTMENT')}">
									<li><a href="cad_department">Department</a></li>
								</ui:fragment>
								
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_EMPLOYEE')}">
									<li><a href="cad_employee">Employee</a></li>
								</ui:fragment>
								
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_HOLIDAY_CATEGORY')}">
									<li><a href="cad_holiday_category">Holiday Category</a></li>
								</ui:fragment>
		
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_PERFIL')}">
									<li><a href="cad_perfil">Perfil</a></li>
								</ui:fragment>
								
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_ROLE')}">
									<li><a href="cad_role">Role</a></li>
								</ui:fragment>
								
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_USUARIO')}">
									<li><a href="cad_usuario">User</a></li>
								</ui:fragment>
							</ul>
						</ui:fragment>
					</li>
					
					<li class="treeview">
						<ui:fragment rendered="#{request.isUserInRole('ROLE_SETTINGS')}">
							<a href="#">
								<i class='fa fa-cog'></i> <span>Settings</span> 
								<i class="fa fa-angle-left pull-right"></i>
							</a>
							
							<ul class="treeview-menu">
								<ui:fragment rendered="#{request.isUserInRole('ROLE_CHANGE_PASSWORD')}">
									<li><a href="set_change_password">Change Password</a></li>
								</ui:fragment>
							</ul>
						</ui:fragment>
					</li>
					
<!-- 					<li> -->
<!-- 						<ui:fragment rendered="#{request.isUserInRole('ROLE_TRANSPORT')}"> -->
<!-- 							<a href="#"> -->
<!-- 								<i class='fa fa-edit'></i> <span>Transport</span>  -->
<!-- 								<i class="fa fa-angle-left pull-right"></i> -->
<!-- 							</a> -->
							
<!-- 							<ul class="treeview-menu"> -->
<!-- 								<ui:fragment rendered="#{request.isUserInRole('ROLE_CAD_VEHICLE')}"> -->
<!-- 									<li><a href="cad_vehicle">Vehicle</a></li> -->
<!-- 								</ui:fragment> -->
<!-- 							</ul> -->
<!-- 						</ui:fragment> -->
<!-- 					</li> -->
				</ul>
			
			<!-- /.sidebar-menu --> 
			</section> <!-- /.sidebar --> </aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<!-- Main content -->
			<section class="content"> <!-- Your Page Content Here -->
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-body">
							<ui:insert name="content" />
						</div>
					</div>
				</div>
			</div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Main Footer -->
		<footer class="main-footer"> <strong>Copyright ©
			2021 <a href="http://www.hgwalter.com" target="_blank">HG WALTER</a>.
		</strong></footer>

	</div>
	<!-- ./wrapper -->

	<!-- REQUIRED JS SCRIPTS -->

	<!-- Bootstrap 3.3.2 JS -->
	<script src="../resources/styles/rasz/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
	<!-- AdminLTE App -->
	<script src="../resources/styles/rasz/dist/js/app.js"
		type="text/javascript"></script>

</body>
</html>